<script>
  var data_by = <%=raw @interventions_by %>;
  var interventionsource = "<%=raw @interventionsource %>";
</script>
<h2>Estadísticas de actos médicos</h2>
<h3 class="graph-title">Todos los actos financiados por el FNR en el último año cerrado.</h3>
<section class="filter">
  <div class="row center">
    <button id="intervention_area" class="button filter-by filter-by-left <%= @by == 'imae' ? '': 'active' %>">ACTOS</button>
    <button id="imae" class="button filter-by filter-by-right <%= @by == 'imae' ? 'active' :'' %>">IMAE</button>
    <input name="by" id="by" type="hidden" value="<%= @by %>"/>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= select_tag "statsKind", options_for_select(@kinds, params[:statsKind]), include_blank: "Elija un tipo", class: "form-control" %>
    </div>
    <div class="col-md-4">
      <%= select_tag "statsArea", options_for_select(tagging_options(@areas), params[:statsArea]), include_blank: "Elija un área", class: "form-control" %>
    </div>
    <div class="col-md-4">
      <%=
      select_tag "state_pa",
      options_for_select( @states_pa, params[:state_pa] ),
      include_blank: "Depto. Paciente",
      class: "form-control"
        %>
    </div>
  </div>
  <div class="row filter">
    <div class="col-md-6">
      <%=
      select_tag "states",
      options_for_select( @states, @sel_state ),
      include_blank: "Depto. de Prestador",
      class: "form-control"
        %>
    </div>
    <div class="col-md-6">
      <%= render partial: 'provider_options' %>
    </div>
  </div>
  <div class="row center">
    <%= icon_info('fnr-about-stats').html_safe %>
    <span>Sobre esta visualización/Glosario</span>
  </div>
  <% @body = 'Las cifras que se grafican surgen de la cantidad de actos médicos financiados por el FNR realizados en el último año cerrado, para tipo de acto médico, o para cada IMAE (según la vista activa en el selector “Actos/IMAE” que se encuentra bajo el título de la sección).</br>
Los filtros que ofrece la visualización permiten visualizar esas mismas cifras para un departamento, institución o área en particular.</br>
De esta forma, seleccionando por ejemplo “Maldonado” en el primer campo desplegable se obtiene la cantidad de actos para ese departamento únicamente, mientras que si se selecciona una institución en el segundo campo desplegable o un área en el tercero, se obtiene la cantidad de actos para esa institución y/o acto en particular.</br>
Los datos sin procesar están disponibles para ser descargados desde el <a href="https://catalogodatos.gub.uy/dataset/fondo-nacional-de-recursos-solicitudes-de-tramites-autorizados/resource/dd3046c9-06eb-490e-be95-ba58feb25b5e">Catálogo Nacional de Datos Abiertos</a>.' %>
  <%= modal_content("fnr-about-stats", 'Estadísticas de actos médicos', @body, '').html_safe %>
  <div id=></div>
</section>
<div class="row">
<div class="col-md-12" id="graph-stats">
</div>
<div id="stats-total" class="totals"></div>
