<script> var data_by = <%=raw @interventions_by %> </script>
<h3 class="graph-title">Estadísticas de actos médicos</h3>
<section class="filter">
  <div class="row center">
    <button id="actos" class="button filter-by filter-by-left <%= @by == 'imae' ? '': 'active' %>">ACTOS</button>
    <button id="imae" class="button filter-by filter-by-right <%= @by == 'imae' ? 'active' :'' %>">IMAE</button>
    <input name="by" id="by" type="hidden"/>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%=
      select_tag "states",
      options_for_select( @states, params[:states] ),
      include_blank: "Elija un departamento",
      class: "form-control"
      %>
    </div>
    <div class="col-md-4">
      <%= render partial: 'provider_options' %>
    </div>
    <div class="col-md-4">
      <%= select_tag "statsArea", options_for_select(tagging_options(@areas), params[:statsArea]), include_blank: "Elija un área", class: "form-control" %>
    </div>
  </div>
  <div class="row center">
    <%= icon_info('fnr-about-stats').html_safe %>
    <span>Sobre esta visualización/Glosario</span>
  </div>
  <% @body = 'Estas estadísticas se hicieron en base a los datos registrados en el catálogo <a href="/">Stats</a>' %>
  <%= modal_content("fnr-about-stats", 'Microdatos FNR', @body, '').html_safe %>
  <div id=></div>
</section>
<div class="row">
<div class="col-md-12" id="graph-stats">
</div>
<div id="stats-total" class="totals"></div>
