<script> var data = <%=raw @interventions %> </script>
<h3 class="graph-title">¿Qué tipo de acto te interesa consultar sus tiempos de espera?</h3>
<section class="filter">
  <div class="row">
    <div class="col-md-4 left">
      <%= select_tag "areas", options_for_select(tagging_options(@areas), params[:area]), include_blank: "Elija un área", class: "form-control" %>
    </div>
    <div class="col-md-4 right">
        <%= select_tag "types", options_for_select(tagging_options(@types), params[:types]),
          include_blank: "Elija una prestación",
          class: "form-control",
          name: 'intervention-types',
          id: 'intervention-types'
        %>
    </div>
  </div>
  <div class="row center">
    <%= icon_info('fnr-about-waiting').html_safe %>
    <span>Sobre esta visualización/Glosario</span>
  </div>
  <% @body = 'Estas estadísticas se hicieron en base a los datos registrados en el catálogo <a href="/">Waiting</a>' %>
  <%= modal_content("fnr-about-waiting", 'Tiempos de espera FNR', @body, '').html_safe %>
</section>
<div id="graph-wait">
</div>
