<script>
  var data = <%=raw @interventions %>;
  var resource = "<%=raw @resource %>";
</script>
<h2">Tiempos de espera</h2>
<h3 class="graph-title">¿Para qué tipo de acto te interesa consultar sus tiempos de espera?</h3>
<section class="filter">
  <div class="row">
    <div class="col-md-4 left">
      <%= select_tag "area", options_for_select(tagging_options(@areas), params[:area]), include_blank: "Elija un área", class: "form-control" %>
    </div>
    <div class="col-md-4 right">
        <%= select_tag "type", options_for_select(tagging_options(@types), params[:type]),
          include_blank: "Elija una prestación",
          class: "form-control"
        %>
    </div>
  </div>
  <div class="row center">
    <%= icon_info('fnr-about-waiting').html_safe %>
    <span>Sobre esta visualización/Glosario</span>
  </div>
  <% @body = 'Las cifras de días de espera que se grafican surgen del promedio de los días de diferencia entre la fecha de autorización por el Fondo Nacional de Recursos (FNR) y la fecha de realización de un acto, para cada IMAE. Los datos tienen como origen los sistemas del FNR y reflejan los tiempos de espera que tuvieron los actos realizados en los últimos XX días.</br>
Esto significa que si un IMAE muestra una espera promedio de 10 días, las personas que se realizaron intervenciones o tratamientos financiados por el FNR en ese IMAE, tuvieron que esperar -en promedio- 10 días desde su autorización por el FNR, hasta la realización del acto.</br>
Los filtros que ofrece la visualización permiten visualizar esas mismas cifras para un área o acto en particular.</br>
De esta forma, seleccionando por ejemplo “Actos Traumatología” en el primer campo desplegable se obtiene el promedio de días de espera únicamente para éstos, mientras que si se selecciona “Prótesis de Rodilla - Implante”, en el segundo campo desplegable, se obtiene el promedio de espera para esa intervención en particular.</br>
Los datos sin procesar están disponibles para ser descargados desde el <a href="FALTA ENLACE">Catálogo Nacional de Datos Abiertos</a>.' %>
  <%= modal_content("fnr-about-waiting", 'Tiempos de espera', @body, '').html_safe %>
</section>
<div id="graph-wait">
</div>
