<div class="card <%= card[:name] %>">
  <div class="card-header">
    <div class="header-top">
      <i class='fas fa-people-group'></i>
      <button onclick="document.getElementById('info-<%= card[:sid] %>').style.display = 'flex'"><i class='fas fa-circle-info'></i></button>
    </div>
    <h3><%= card[:title] %></h3>
    <div class="border-bottom"></div>
  </div>
  <div class="card-content">
  <% card['total'].keys.each do |ptype|%>
    <% if ptype.present? %>
    <div class="values"><%= card['total'][ptype][:title].camelize %>: <div class="result"><%= format_number(card['total'][ptype][:value], nil) %></div></div>
    <% end %>
  <% end %>
  </div>
</div>