<%= render partial: 'layouts/header'%>
<section>
  <div class="header">
    <form>
      <div class="input-group search-prestadora">
        <%=
        text_field_tag :search,
        nil,
        class: "search-query form-control",
          placeholder: "Ingrese sus criterios de búsqueda",
          type: "search",
          data: {
            autocomplete: autocomplete_pia_titulo_pia_path
          }
        %>
        <div class="input-group-btn">
          <button class="btn btn-default pias-search-btn" type="submit" data-search="search"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </form>
    <div class="no-results"> No se encontraron resultados para su búsqueda </div>
  </div>

  <div class="search-controls">
    <span id="index-counter"></span><span id="results-counter" ></span>
    <div class="search-controls-actions">
      <i data-search="next" class="fa fa-arrow-down"></i>
      <i data-search="prev" class="fa fa-arrow-up"></i>
      <i data-search="clear" class="fa fa-times"></i>
    </div>
  </div>

  <p class="filters-title">Filtrar por:</p>
  <div class="pias-filters">
    <% @categories.each do |category| %>
      <div class="pias-filter">
        <a class="<%= 'active' if '/pias/'+category.pid == request.path_info %>"
          href='<%= "/pias/#{category.pid}" %>'>
          <%= category.titulo %>
        </a>
      </div>
    <%end %>
  </div>

  <div class="pias-content">
    <%= nested_pias @pia %>
  </div>
</section>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "pias.js" %>
<% end %>
