<div id="header">
  <div class="header-info">
    <div id="nav-menu">
      <ul class="menu">
        <li>
          <a ng-href="#/">
            Listado
          </a>
        </li>
        <li>
          <a ng-href="#/comparar">
            Comparar
          </a>
        </li>
        <li>
          <a ng-href="#/quienes-somos">
            Quienes somos
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <a href="#/" title="atuservicio">
        <%= image_tag('logo-atuservicio.png', alt: "atuservicio", id: "logo") %>
      </a>
    </div>
    <div class="col-md-4">
      <p>
        180 CIENCIA y DATA te dan una herramienta para que
        contestando unas simples preguntas, veas qu&eacute;
        prestador de salud te conviene seg&uacute;n los indicadores
        asociados a Metas Asistenciales publicados por el Ministerio
        de Salud P&uacute;blica.
      </p>
      <p><a href="#">Más información ></a></p>
    </div>
    <div class="col-md-4" id="logos">
      <ul class="menu">
        <li>
          <a href="http://datauy.org/" title="DATA">
            <%= image_tag('logodata.png', alt: "DATA") %>
          </a>
        </li>
        <li>
          <a href="http://www.msp.gub.uy/" title="MSP">
            <%= image_tag('logomsp.png', alt: 'DATA') %>
          </a>
        </li>
        <ul class="menu">
          <li>Twitter</li>
          <li>Facebook</li>
        </ul>
      </ul>
    </div>
  </div>
  <div class="clearfix"> </div>
  <div class="header-select">
    <div class="col-md-4">
      <h2>
        <i class="icon-number01"></i>
        Selecciona tu departamento
      </h2>
      <p>Pod&eacute;s seleccionar tu mutualista actual o a la
        que quieras comparar.</p>
      <p>
        <%= select_tag "state", options_for_select(state_options) %>
      </p>
    </div>
    <div class="col-md-4">
      <h2>
        <i class="icon-number02"></i>
        Selecciona tu prestador de salud y afiliaci&oacute;n
      </h2>
      <p>
        <%= select_tag "provider", options_for_select(provider_options), include_blank: "Seleccione un proveedor" %>
      </p>
    </div>
    <div class="col-md-4">
      <h2>
        <i class="icon-number03"></i>
        Compara informaci&oacute;n de hasta 3 prestadores
      </h2>
      <p>
        Selecciona en el listado hasta dos prestadores de salud
        adem&aacute;s del tuyo y usa el bot&oacute;n Comparar ahora
        a la derecha del listado.
      </p>
      <p>
        <button class="entendi">Ya entendí</button>
      </p>
    </div>
  </div>
</div>
<!-- end header -->
