<% @sel_providers.each do |provider| %>
  <tr>
    <td>
      <div class="txt-info">
        <h4><%= provider.nombre_abreviado %></h4>
        <p><%= provider.nombre_completo %></p>
        <%= link_to provider.web, "http://#{provider.web}", target: '_blank' %>

        <div class="checkbox">
          <label>
            <input type="checkbox" class="add_compare" data-id="<%= provider.id %>" data-name="<%= provider.nombre_abreviado %>">Comparar
          </label>
        </div>
        <a class="structure" href="#" data-id="<%= provider.id%>">
          Ver estructura y sedes
        </a>
        <div class="structure_module hidden" id="structure_<%= provider.id%>">
          <a class="close" href="#"><i class="icon-no"></i></a>
          <ul>
            <li><h4>Estructura:</h4></li>
            <li>
              <p>
                Primaria <span>Total <%= provider.estructura_primaria %></span>
              </p>
            </li>
            <li>
              <p>
                Secundaria:
                <span>Total <%= provider.estructura_secundaria %></span>
              </p>
            </li>
            <li>
              <p>
                Policlínica:
                <span>Total <%= provider.estructura_ambulatorio%></span>
              </p>
            </li>
            <li>
              <p>
                Urgencia <span>Total <%= provider.estructura_urgencia %></span>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </td>

    <!-- Tiempos de espera -->
    <td>
      <% waiting_times.each do |value| %>
        <div class="value">
          <div class="txt">
            <label><%= value[1] %></label>
            <% if provider.send(value[0]) %>
              <label><%= number_with_delimiter(provider.send(value[0]), separator: ',') %> DIAS</label>
          </div>
          <div class="icons">
            <%= IconsHelper::render_icons(provider, value, @provider_maximums.waiting_time, 'clock') %>
          </div>
            <% else %>
        </div>
        <%= IconsHelper.no_data.html_safe %>
            <% end %>
      </div>
      <% end %>
    </td>

    <!-- Satisfaction -->
    <td>
      <% satisfactions.each do |value| %>
        <div class="value">
          <label><%= value[1] %></label>
          <%= percentages_value(provider, value).html_safe %>
        </div>
      <% end %>
    </td>

    <td>Tickets</td>

    <!-- Metas asistenciales -->
    <td>
      <% goals.each do |value| %>
        <div class="value">
          <label><%= value[1] %></label>
          <%= percentages_value(provider, value).html_safe %>
        </div>
      <% end %>
    </td>

    <td>
      <div class="socios">
        <i class="icon-person"></i>
        <% if provider.afiliados %>
          <h4><%= number_with_delimiter(provider.afiliados, delimiter: ".") %></h4>
          <h5><%= snis_percentage(provider.afiliados) %>% del SNIS</h5>
        <% else %>
          <%= IconsHelper.no_data.html_safe %>
        <% end %>
      </div>
    </td>

    <!-- RRHH -->
    <td>
      <% rrhh.each do |value| %>
        <div class="value">
          <div class="txt">
            <label><%= value[1] %></label>
            <% if provider.send(value[0]) %>
              <label><%= number_with_delimiter(provider.send(value[0]), separator: ',') %>/10.000</label>
          </div>
          <div class="icons">
            <%= IconsHelper::render_icons(provider, value, @provider_maximums.personnel, 'user') %>
          </div>
            <% else %>
        </div>
        <%= IconsHelper.no_data.html_safe %>
            <% end %>
      </div>
      <% end %>
    </td>
  </tr>
<% end %>
