<% @sel_providers.each do |provider| %>
  <tr>
    <td>
      <div class="txt-info">
        <h4><%= provider.nombre_abreviado %></h4>
        <p><%= provider.nombre_completo %></p>
        <%= link_to provider.web, "http://#{provider.web}", target: '_blank' %>

        <div class="checkbox">
          <label>
            <input type="checkbox"> Comparar
          </label>
        </div>
        <a class="structure" href="/comparar/<%= provider.id %>">
          Ver estructura y sedes
        </a>
      </div>
    </td>

    <!-- Tiempos de espera -->
    <td>
      <% waiting_times.each do |value| %>
        <div class="value">
          <div class="txt">
            <label><%= value[1] %></label>
            <% if provider.send(value[0]) %>
              <label><%= provider.send(value[0]) %> DIAS</label>
          </div>
          <div class="icons">
            <%= IconsHelper::render_clocks(provider, value, @provider_maximums.waiting_time) %>
          </div>
            <% else %>
        </div>
        <%= IconsHelper.no_data.html_safe %>
            <% end %>
      </div>
      <% end %>
    </td>

    <!-- Satisfaction -->
    <td>
      <% satisfactions.each do |value| %>
        <div class="value">
          <label><%= value[1] %></label>
          <%= percentages_value(provider, value).html_safe %>
        </div>
      <% end %>
    </td>

    <td>Tickets</td>

    <td>
      <% goals.each do |value| %>
        <div class="value">
          <label><%= value[1] %></label>
          <%= percentages_value(provider, value).html_safe %>
        </div>
      <% end %>
    </td>

    <td>
      <div class="socios">
        <i class="icon-person"></i>
        <h4>2.421</h4>
        <h5>15% del SNIS</h5>

      </div>

    </td>
    <td>
      <div class="value">
        <div class="txt">
          <label>Medico Grl</label>
          <label>2</label>
        </div>
        <div class="icons">
          <i class="icon-user"></i>
          <i class="icon-user"></i>
          <i class="icon-user"></i>
          <i class="icon-user"></i>
          <i class="icon-user"></i>
        </div>
        
      </div>  
      <div class="value">
        <div class="txt">
          <label>Medico Grl</label>
          <label>14</label>
        </div>
        <div class="icons">
          <i class="icon-user"></i>
          <i class="icon-user"></i>
          <i class="icon-user"></i>
          <i class="icon-user"></i>
          <i class="icon-user disable"></i>
        </div>
      </div>
      <div class="value">
        <div class="txt">
          <label>Medico Grl</label>
          <label>18</label>
        </div>
        <div class="icons">
          <i class="icon-user"></i>
          <i class="icon-user"></i>
          <i class="icon-user"></i>
          <i class="icon-user disable"></i>
          <i class="icon-user disable"></i>
        </div>
      </div>
    </td>
  </tr>
<% end %>
