<% @sel_providers.each do |provider| %>
  <tr>
    <td>
      <div class="txt-info">
        <h4>
          <%= link_to provider.nombre_abreviado, "/comparar/#{provider.id}"%>
        </h4>
        <p><%= provider.nombre_completo %></p>
        <%= link_to provider.web, "http://#{provider.web}", target: '_blank' %>

        <div class="checkbox">
          <label>
            <input type="checkbox" class="add_compare" data-id="<%= provider.id %>" data-name="<%= provider.nombre_abreviado %>">Comparar
          </label>
        </div>
        <a class="structure" href="#" data-id="<%= provider.id%>">
          Ver estructura y sedes
        </a>
        <div class="structure_module hidden" id="structure_<%= provider.id%>">
          <a class="close" href="#"><i class="icon-no"></i></a>
          <ul>
            <li><h4>Estructura:</h4></li>
            <% if provider.id == 9000 %>
              <li>
                <%= link_to 'Estructuras de centros de Salud en ASSE', 'http://www.asse.com.uy/categoria/Centros-de-Salud-148', target: '_blank' %>
              </li>
            <% end %>
            <li>
              <p>
                Primaria <span>Total <%= provider.estructura_primaria %></span>
              </p>
            </li>
            <li>
              <p>
                Secundaria:
                <span>Total <%= provider.estructura_secundaria %></span>
              </p>
            </li>
            <li>
              <p>
                Policlínica:
                <span>Total <%= provider.estructura_ambulatorio%></span>
              </p>
            </li>
            <li>
              <p>
                Urgencia <span>Total <%= provider.estructura_urgencia %></span>
              </p>
            </li>
            <li>
              <p>
                Sedes en: <span><%= provider.states_names %>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </td>

    <!-- Tiempos de espera -->
    <td>
      <% waiting_times.each do |value| %>
        <div class="value">
          <div class="txt">
            <label><%= value[1] %></label>
            <% if provider.send(value[0]) %>
              <label><%= number_with_delimiter(provider.send(value[0]), separator: StringConstants::COMMA) %> DIAS</label>
          </div>
          <div class="icons">
            <!-- IconsHelper::render_icons(provider, value, @provider_maximums.waiting_time, 'clock') -->
            <%
            clocks = IconsHelper.icons_quantity(provider, value, @provider_maximums.waiting_time)
            clocks[0].times do
            %>
              <i class="icon-clock"></i>
            <%
            end
            clocks[1].times do
            %>
            <i class="icon-clock disable"></i>
            <% end %>
          </div>
            <% else %>
        </div>
        <% if provider.nombre_abreviado == "ASSE" %>
          <a href="#" data-toggle="modal" data-target="#asse_tiempos_modal" class="info-nodata">
            <%= IconsHelper.no_data.html_safe %>
            <i class="demo-icon icon-info"></i>
          </a>
        <% else %>
          <%= IconsHelper.no_data.html_safe %>
        <% end %>
            <% end %>
      </div>
      <% end %>
    </td>

    <!-- Satisfaction -->
    <td>
      <% satisfactions.each do |value| %>
        <div class="value">
          <label><%= value[1] %></label>
          <%= percentages_value(provider, value).html_safe %>
        </div>
      <% end %>
    </td>

    <!-- Tickets -->
    <td>
      <% ordered_tickets(provider).each do |ticket| %>
        <div class="value">
          <div class="txt">
            <label><%= ticket[:label] %> (promedio)</label>
          </div>
          <div class="icons">
            <% if ticket[:average] %>
              <%
              tickets = IconsHelper.icons_quantity(provider, ticket[:average], @provider_maximums.tickets)
              tickets[0].times do
              %>
              <i class="icon-coin"></i>
            <% end %>

            <% tickets[1].times do %>
              <i class="icon-coin disable"></i>
            <% end %>
            <!-- IconsHelper::render_icons(provider, ticket[:average], @provider_maximums.tickets, 'coin') -->
            <% else %>
              <%= IconsHelper.no_data.html_safe %>
            <% end %>
          </div>
        </div>
      <% end %>
    </td>

    <!-- Metas asistenciales -->
    <td>
      <% goals.each do |value| %>
        <div class="value">
          <label><%= value[1] %></label>
          <%= percentages_value(provider, value).html_safe %>
        </div>
      <% end %>
    </td>

    <td>
      <div class="socios">
        <i class="icon-person" style="font-size:<%= affiliate_person_size(provider.afiliados) %>px"></i>
        <% if provider.afiliados %>
          <h4><%= number_with_delimiter(provider.afiliados, delimiter: ".") %></h4>
          <h5><%= snis_percentage(provider.afiliados) %>% del SNIS</h5>
        <% else %>
          <%= IconsHelper.no_data.html_safe %>
        <% end %>
      </div>
    </td>

    <!-- RRHH -->
    <td>
      <% rrhh.each do |value| %>
        <div class="value">
          <div class="txt">
            <label><%= value[1] %></label>
            <% if provider.send(value[0]) %>
              <label><%= number_with_delimiter(provider.send(value[0]), separator: StringConstants::COMMA) %>/10.000</label>
          </div>
          <div class="icons">
            <%
            users = IconsHelper.icons_quantity(provider, value, @provider_maximums.personnel)
            users[0].times do
            %>
              <i class="icon-user"></i>
            <% end %>

            <% users[1].times do %>
              <i class="icon-user disable"></i>
            <% end %>
            <!--  IconsHelper::render_icons(provider, value, @provider_maximums.personnel, 'user') -->
          </div>
            <% else %>
        </div>
        <%= IconsHelper.no_data.html_safe %>
            <% end %>
      </div>
      <% end %>
    </td>
  </tr>
<% end %>
