<% @sel_providers.each do |provider| %>
  <tr>
    <td>
      <div class="txt-info">
        <h4><%= provider.nombre_abreviado %></h4>
        <p><%= provider.nombre_completo %></p>
        <%= link_to provider.web, "http://#{provider.web}", target: '_blank' %>

        <div class="checkbox">
          <label>
            <input type="checkbox"> Comparar
          </label>
        </div>
        <a class="structure" href="/comparar/<%= provider.id %>">
          Ver estructura y sedes
        </a>
      </div>
    </td>

    <!-- Tiempos de espera -->
    <td>
      <% waiting_times.each do |value| %>
        <div class="value <%= provider.id %>">
          <div class="txt">
            <label><%= value[1] %></label>
            <label>14 DIAS</label>
          </div>
          <div class="icons">
            <%= IconsHelper::render_clocks(provider, value, @provider_maximums.waiting_time) %>
          </div>
        </div>
      <% end %>
    </td>

    <td>
      <%= render_satisfactions(provider).html_safe %>
    </td>

    <td>Tickets</td>

    <td>
      <div class="value">
        <label>Recep Quejas</label>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            <span class="sr-only">60%</span>
          </div>
        </div>
      </div>
      <div class="value">
        <label>Recep Quejas</label>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            <span class="sr-only">60%</span>
          </div>
        </div>
      </div>
      <div class="value">
        <label>Recep Quejas</label>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            <span class="sr-only">60%</span>
          </div>
        </div>
      </div>

    </td>
    <td>
      <div class="socios">
        <i class="icon-person"></i>
        <h4>2.421</h4>
        <h5>15% del SNIS</h5>

      </div>

    </td>
    <td>
      <div class="value">
        <div class="txt">
          <label>Medico Grl</label>
          <label>2</label>
        </div>
        <div class="icons">
          <i class="icon-user"></i>
          <i class="icon-user"></i>
          <i class="icon-user"></i>
          <i class="icon-user"></i>
          <i class="icon-user"></i>
        </div>
        
      </div>  
      <div class="value">
        <div class="txt">
          <label>Medico Grl</label>
          <label>14</label>
        </div>
        <div class="icons">
          <i class="icon-user"></i>
          <i class="icon-user"></i>
          <i class="icon-user"></i>
          <i class="icon-user"></i>
          <i class="icon-user disable"></i>
        </div>
      </div>
      <div class="value">
        <div class="txt">
          <label>Medico Grl</label>
          <label>18</label>
        </div>
        <div class="icons">
          <i class="icon-user"></i>
          <i class="icon-user"></i>
          <i class="icon-user"></i>
          <i class="icon-user disable"></i>
          <i class="icon-user disable"></i>
        </div>
      </div>
    </td>
  </tr>
<% end %>
