<% @sel_providers.each do |provider| %>
<tr id="<%= provider.id %>">
  <td>
    <h4><%= provider.nombre_completo %></h4>
    <p>
      <a href="http://<%= provider.web %>" title="Sitio web" target="_blank">
        <%= provider.web %>
      </a>
    </p>
    <p>

    <p class="structure_icons">
      <% structure = provider_structure(provider) %>
      <span class="estructura">Estructura:</span>
      <% if structure[:primaria] > 0 %>
        <span class="round-btn">1</span>
      <% end %>
      <% if structure[:secundaria] > 0 %>
        <span class="round-btn">2</span>
        <% if structure[:secundaria] > 0 %>
          <span class="float_left">X <%= structure[:secundaria] %></span>
        <% end %>
      <% end %>
      <% if structure[:ambulatorio] > 0 %>
        <span class="round-btn">P</span>
        <% if (structure[:ambulatorio] > 1) %>
          <span class="float_left">X <%= structure[:ambulatorio] %></span>
        <% end %>
      <% end %>
      <% if structure[:urgencia] %>
        <span class="round-btn magenta">U</span>
      <% end %>
    <p class="sedes">Sedes en: <%= provider.states.join(", ") %></p>
    </p>

  <%= link_to 'Comparar', compare_path(selected_providers: "#{provider.id}") %>
</td>
<td>
  <%
     # TODO: REFACTOR THIS!
     provider.sums_provider.to_f
     max = Provider.maximums.to_f
     max_afiliados = Provider.maximum("afiliados")
     max_tickets = Provider.sum_tickets
     max_personnel = Provider.sums_personnel
     %>
  <%
     meta = {
       tiempo_espera_medicina_general: 'celeste',
       tiempo_espera_cirugia_general: 'marino',
       tiempo_espera_pediatria: 'azul',
       tiempo_espera_ginecotocologia: 'verde',
       tiempo_espera_medico_referencia: 'azul_claro'
     }%>
  <%= build_icon_rows(provider, max, meta, 'clock') %>
</td>
<td>
  <% satisfaccion = provider.satisfaccion_primer_nivel_atencion_2014 * 10 if provider.satisfaccion_primer_nivel_atencion_2014 %>
  <%= raw progress_bar(satisfaccion, 'celeste') %>
  <%= raw progress_bar(provider.conformidad_disponibilidad_agenda_2014, 'marino') %>
  <%= raw progress_bar(provider.facilidad_para_realizar_tramites_gestiones_2014, 'azul') %>
  <%= raw progress_bar(provider.disponibilidad_medicamentos_farmacia_2014, 'verde') %>
  <%= raw progress_bar(provider.informacion_sobre_derechos_2014, 'azul_claro') %>
  <%= raw progress_bar(provider.queja_sugerencia_sabe_donde_dirigirse_2014, 'fuxia') %>
</td>
<td>
  <% unless provider.nombre_abreviado.include?('Seguro Privado') %>
  <%= build_icon_money(provider, max_tickets,
      {medicamentos: 'celeste',
      tickets: 'marino',
      tickets_urgentes: 'azul',
      estudios: 'verde'
      })
      %>
  <% else %>
    <%= no_data %>
  <% end %>
</td>
<td>
  <%= raw progress_bar(provider.meta_medico_referencia, 'celeste') %>
  <%= raw progress_bar(provider.meta_ninos_controlados, 'marino') %>
  <%= raw progress_bar(provider.meta_embarazadas, 'azul') %>
</td>
<td><%= show_users(provider.afiliados, max_afiliados) %></td>
<td>
  <% meta = {
     medicos_generales_policlinica: 'celeste',
     medicos_de_familia_policlinica: 'marino',
     medicos_pediatras_policlinica: 'azul',
     medicos_ginecologos_policlinica: 'verde',
     auxiliares_enfermeria_policlinica: 'azul_claro',
     licenciadas_enfermeria_policlinica: 'fuxia'
     } %>
  <%= build_icon_rows(provider, max_personnel, meta, 'user') %>
</td>
</tr>
<% end %>
