<%= render partial: 'layouts/header'%>
<section>
  <article>
    <div class="content">
      <h2>Sobre el proyecto</h2>
      <div class="row">
        <div class="col-md-6">
          <p>En ocasión de la apertura del período de Movilidad Regulada (febrero de cada año), el Ministerio de Salud Pública pone a disposición de los usuarios un conjunto de datos sobre las Instituciones que integran el Seguro Nacional de Salud. Se entiende que dicha información es de interés para los usuarios en general y concretamente para aquellos que están evaluando la posibilidad de cambiar de Institución de Salud. Cada año, la misma ha sido publicada a través de la página web institucional.</p>
          <div class="row">
            <div class="col-md-6">
              <p>Continuando el trabajo hecho en el año 2015, el <b><a href="http://www.msp.gub.uy" target="_blank">Ministerio de Salud Pública</a></b> trabajó en acuerdo con <b><a href="http://www.datauy.org" target="_blank">DATA Uruguay</a></b> para la creación de un software que permita hacer disponible dicha información de manera adecuada, a través de un visualizador, como primer paso de un proyecto más amplio para reforzar la difusión de información con una perspectiva de derechos y la participación de los ciudadanos. Este proyecto ha sido financiado por el Ministerio de Salud Pública y el programa de pequeños apoyos de la <b><a href="http://idatosabiertos.org" target="_blank">Iniciativa Latinoamericana por los Datos Abiertos (ILDA)</a></b> financiada por <b><a href="http://www.avinaamericas.org" target="_blank">Avina Américas</a></b>.</p>
            </div>
            <div class="col-md-6">
              <p>A Tu Servicio oficiará como canal de comunicación entre los usuarios y el MSP, con dos finalidades concretas: ofrecer distintos formatos de acceso a la información y habilitar un espacio de comunicación directa y retroalimentación.</p>
            </div>
            <div class="col-md-6">
              <p>Un primer componente corresponde al Módulo de Visualización, a través del cual se hace disponible información de cada una de las Instituciones de Salud sobre una serie de atributos. Se espera que el usuario pueda comparar los valores que cada atributo para las distintas Instituciones, así como poder agrupar a estos últimos por departamento.</p>
              <p>En el futuro, se ampliará el proyecto para la inclusión de componentes que permitan acceso a más información sobre prestadores, así como un espacio de contacto directo de los usuarios con el MSP (Retroalimentación). Se espera que el mismo facilite el intercambio en relación a consultas puntuales de los usuarios, ofrecer sus opiniones y experiencias, así como plantear sugerencias y/o quejas.</p>
            </div>
          </div>
        </div>
        <div class="col-md-5" style="float:right">
          <figure>
            <%= image_tag 'award.jpg' %>
          </figure>
          <div class="row">
            <div class="col-md-6">
              <%= image_tag 'data.png' %>
            </div>
            <div class="col-md-6">
              <%= image_tag 'msp.png' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-color content">
      <div class="title"><h3>Antecedentes</h3></div>
      <div class="row">
        <div class="col-md-4">
          <p>En el año 2014, DATA Uruguay y <b><a href="http://180.com.uy" target="_blank">Portal 180</a></b>, a través de su iniciativa <b><a href="http://ciencia.180.com.uy" target="_blank">180 Ciencia</a></b>, lanzaron la aplicación <b><a href="http://mutualistas.datauy.org" target="_blank">Temporada de Pases</a></b>, permitiendo visualizar los datos publicados en febrero de 2014 por el Ministerio de Salud Pública. Meses más tarde, en el contexto de las mesas de diálogo de Gobierno Abierto, impulsadas por <b><a href="http://agesic.gub.uy" target="_blank">AGESIC</a></b> y la <b><a href="http://rga.uy">Red de Gobierno Abierto</a></b>, surge la posibilidad de establecer  un acuerdo entre DATA y el MSP para la creación de este proyecto.</p>
          <p>En 2015 la primer versión de A Tu Servicio es lanzanda, logrando una excelente respuesta del público y una excelente recepción por parte de organizaciones académicas y relacionadas al Gobierno Abierto, que destacan el caso a nivel internacional. La aplicación fue seleccionada en cuatro ocasiones como caso de alto impacto por la Open Knowledge Foundation (Reino Unido), Sunlight Foundation y GovLab de la New York University (EE.UU.). También fue seleccionado como "Lo Mejor del Infoactivismo LATAM 2015" por SocialTIC (México, finalista de los Open Data Institute Awards (Reino Unido) y primer premio del Open Government Partnership Open Government Awards (global). Por más información y enlaces ver <a href="http://www.datauy.org/portfolio/a-tu-servicio/">la web de DATA Uruguay</a>.</p>

        </div>
        <div class="col-md-8" style="float:right">
          <figure>
            <%= image_tag 'panel.jpg' %>
          </figure>
          <div class="row">
            <div class="col-md-6">
              <p>DATA es una organización de la sociedad civil, que desde 2012 construye herramientas sociales para promover la participación y el debate público a través de la transparencia, datos abiertos y acceso a la información.
              </p></div>
            <div class="col-md-6">
              Entre ellas, se cuentan el portal de acceso a la información pública <b><a href="http://quesabes.uy" target="_blank">¿Qué Sabés?</a></b>, el sistema de reporte ciudadano <b><a href="http://pormibarrio.uy" target="_blank">Por Mi Barrio</a></b>, la aplicación <b><a href="http://dondereciclo.com.uy" target="_blank">¿Dónde Reciclo?</a></b> y proyectos de periodismo de datos como <b><a href="http://data.180.com.uy" target="_blank">¿Qué tan popular es tu nombre?</a></b>, entre otros.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="title">
        <h3>Datos abiertos que utiliza la aplicación</h3>
        o</div>
      <div class="row">
        <div class="col-md-4">
          <p>Los datos utilizados en esta aplicación se encuentran disponibles para su reutilización a través del <a href="http://catalogodatos.gub.uy" target="_blank"><b>Catálogo Nacional de Datos Abiertos</a></b> de AGESIC, como datos abiertos, en formatos abiertos.</p>
          <p>Los organismos estatales del sector público recogen, producen, reproducen y difunden datos para cumplir con su función pública. Incorporar la publicación de datos públicos en formatos abiertos abre la puerta a la posibilidad de que los mismos sean reutilizados en nuevos proyectos, que puedan combinarse con otras fuentes de datos y generar nuevas aplicaciones desarrolladas por el gobierno, por la sociedad civil, organizaciones, empresas o ciudadanos en general.</p>
        </div>
        <div class="col-md-4">
          <p>La <%= link_to "Guía Metodológica de Movilidad Regulada de los usuarios del Seguro Nacional de Salud - FONASA", "guia_metodologica.pdf", target: '_blank' %> pretende orientar en la comprensión de los indicadores y datos publicados. Los datos se encuentran disponibles para todas las Instituciones de Asistencia Médica Colectiva, Seguros Privados Integrales y A.S.S.E.</p>
          <p>Tiene como objetivos, por un lado, el de servir a la población como insumo al momento de tomar una decisión en relación a la permanencia o cambio de institución de salud, y por el otro, el de presentar una herramienta para el análisis del sector en base a la información disponible, presentada en forma de indicadores comparables que pretenden aproximarse a distintas dimensiones del proceso asistencial, su accesibilidad y resultados.</p>
        </div>
        <div class="col-md-4">
          <p>La información a partir de la cual se construyeron los indicadores presentados proviene de las diversas fuentes desde las cuales el M.S.P., o bien la JU.NA.SA., recaban regularmente información de las Instituciones de Salud.</p>
          <p>Dado que no existen estándares que actúen como línea de referencia para evaluar a las distintas instituciones en base a los indicadores publicados, la utilidad del análisis radica en la comparación entre instituciones de acuerdo a las características a las que cada usuario asigne mayor valor. Además, este proyecto busca explorar estándares técnicos para la sistematización de los datos en materia de prestadores de salud.</p>
        </div>
      </div>
    </div>
    <div class="content content-color">
      <div class="title">
        <h3>Procesamiento de datos y disponibilidad<br> del código como Software Libre</h3>
      </div>
      <p>Los análisis y visualizaciones provistos por esta aplicación son realizados por DATA, brindando toda la información disponible a través de la herramienta de comparación (sección comparar) del sitio web. Para la tabla de visualizaciones principal (home de la página)  no se toma la totalidad de los datos y se realizan promedios y aglomeraciones a los efectos de simplificar la visualización de los datos. Éstas operaciones están disponibles para consulta a través del código de la aplicación disponible a través de GitHub, así como el resto del código fuente.</p>
      <p>DATA incentiva la reutilización de este software para cualquier propósito, brindándolo bajo licencia GPLv3 para que otras organizaciones, gobiernos, empresas o ciudadanos puedan sacar provecho del trabajo aquí realizado.</p>
    </div>
    <div class="content">
      <div class="title">
        <h3>Contacto</h3>
      </div>
      <p>En caso de dudas o sugerencias sobre los datos mostrados, puede comunicarse con nosotros a través de <a href="mailto:atuservicio.uy@msp.gub.uy">atuservicio.uy@msp.gub.uy</a>. En caso de consultas sobre la aplicación, DATA Uruguay o contactos de prensa puede dirigirse a <a href="mailto:contacto@datauy.org">contacto@datauy.org</a>. También estamos disponibles a través de nuestra <a href="http://twitter.com/datauy" target="_blank">cuenta de Twitter</a> y <a href="http://facebook.com/DATAUruguay" target="_blank">página de Facebook</a></p>
      <p>Como la mayoría de los proyectos que trabajan con datos abiertos y software libre, la retroalimentación de los usuarios es una herramienta fundamental para la mejora de los datos y su tratamiento, por lo que agradecemos e incentivamos la recepción de ideas, sugerencias o correcciones.</p>
      <p>En la web de DATA puede encontrarse un <a href="http://www.datauy.org/kit-de-prensa/" target="_blank">kit de prensa de la organización</a> conteniendo material gráfico, así como un <a href="http://www.datauy.org/portfolio/a-tu-servicio/" target="_blank">kit de prensa del proyecto</a>.</p>
    </div>
    <div class="terms content">
      <h4>Términos y condiciones</h4>
      <div class="row">
        <div class="col-md-6">
          <p>Los datos utilizados en esta aplicación son provistos por el Ministerio de Salud Pública. La versión original de los mismos se encuentra publicada y licenciada en el Catálogo Nacional de Datos Abiertos de AGESIC. Salvo indicación en contrario, la información contenida en el portal será considerada de carácter público. Cuando su uso o tratamiento esté sujeto a algún tipo de restricción deberá estarse a lo indicado expresamente en ese caso. Los datos y sus visualizaciones en este sitio son provistos únicamente como información general para los usuarios/as, haciéndose el máximo esfuerzo  en materia de relevancia, exactitud  y completitud. DATA y el MSP no son responsables por las acciones que los usuarios tomen en función de los datos obtenidos a través de esta página. Los datos y el software se publican en función de sus respectivas licencias y cualquier garantía expresa o implícita  son rechazados. En ningún caso DATA y el MSP serán responsables por ningún daño directo, indirecto, incidental, especial o de cualquier otra clase que surja de cualquier forma de uso de este software y estos datos, incluso si se ha advertido la posibilidad de tales daños existan.</p>
          <p>Los análisis y visualizaciones provistos por esta aplicación son realizados por DATA, brindando toda la información disponible a través de la herramienta de comparación (sección comparar) del sitio web. Para la tabla de visualizaciones principal (home de la página)  no se toma la totalidad de los datos y se realizan promedios y aglomeraciones a los efectos de simplificar la visualización de los datos. Éstas operaciones están disponibles para consulta a través del código de la aplicación disponible a través de GitHub, así como el resto del código fuente.</p>
        </div>
        <div class="col-md-6">
          <p>La prestación de este servicio tiene carácter gratuito para los usuarios. Los usuarios se obligan a hacer buen uso del sitio web y de sus contenidos, respetando la normativa nacional vigente, las buenas costumbres y el orden público, comprometiéndose en todos los casos a no causar daños al mismo ni a ningún tercero. A tal efecto, el Usuario se abstendrá de utilizar cualquiera de los servicios con fines o efectos ilícitos, prohibidos en los presentes Términos y condiciones, lesivos de los derechos e intereses de terceros, o que de cualquier forma puedan dañar, inutilizar, sobrecargar, deteriorar o impedir la normal utilización de los servicios, documentos y toda clase de contenidos en cualquier equipo informático  o de otros Usuarios.</p>
          <p>Para asegurarnos de que la aplicación esté acorde a las necesidades de nuestros usuarios, e intentar mejorarla utilizamos Google Analytics para recolectar información sobre cómo se utiliza. Google Analytics almacena información como qué páginas ha visitado, cuánto tiempo ha navegado en las mismas, cómo llegó a la página, qué elementos clikea e información sobre qué navegador utiliza. Su dirección IP es enmascarada (parcialmente almacenada) y la información personal sólo es reportada en forma no individualizada (agregada). No permitimos a Google usar o compartir nuestros datos analíticos para ningún propósito además de proveernos de información analítica y recomendamos que todo usuario de Google Analytics siga la misma política.</p>
          <p>En la elaboración de este material se ha buscado que el lenguaje no invisibilice ni discrimine a las mujeres y a la vez que el uso reiterado de “ /o”, “/a”, “los y las”, etcétera, no dificulte la lectura. También en esta publicación, en la página 9 encontrás un marco normativo: <a href="http://www.inmujeres.gub.uy/innovaportal/file/21498/1/15guia_de_lenguaje_inclusivo.pdf" target="_blank">Guía de Lenguaje Inclusivo - INMUJERES</a></p>
        </div>
      </div>
    </div>
  </article>
</section>
