<%= select_tag "state", options_for_select(state_options) %>
<%= select_tag "provider", options_for_select(provider_options), include_blank: "Seleccione un proveedor" %>

<br />
Selección:
<div id="selected_state"></div>
<div id="selected_provider"></div>

<% @providers.each do |provider| %>
  <h1>Estructura para <%= provider.id %></h1>
  <% columns_name_description(:estructura).each do |name, column| %>
    <%= name %>: <%= provider.send(column.to_sym) %>
    <br/>
  <% end %>

  <h2>Metas para <%= provider.id %></h1>
  <% columns_name_description(:metas).each do |name, column| %>
    <%= name %>: <%= provider.send(column.to_sym) %>
    <br/>
  <% end %>

  <h2>Precios para <%= provider.id %></h1>
  <% columns_name_description(:precios).each do |name, column| %>
    <%= name %>: <%= provider.send(column.to_sym) %>
    <br/>
  <% end %>

<% end %>
