<%= render 'listado_header' %>
<div class="contenido">
<div class="col-md-12 header-select" id="home-filter">
    <div class="col-md-4">
      <h2>
        <i class="icon-number01"></i>
        Seleccionar departamento
      </h2>
      <p>
        <%= select_tag "state", options_for_select(state_options(@states), params[:departamento]),
              class: "form-control" %>
      </p>
    </div>
    <div class="col-md-4">
      <h2>
        <i class="icon-number02"></i>
        Seleccionar prestador de salud
      </h2>
      <form action=<%= compare_path %> method="get">
        <p>
          <%= select_tag "selected_providers",
              options_for_select(provider_options),
              include_blank: "Elija una institución",
              class: "form-control home_providers"
              %>
        </p>
    </div>
    <div class="col-md-4">
      <h2>
        <i class="icon-number03"></i>
        Acceder a datos completos
      </h2>
      <p>
        <button class="btn btn-default" type="submit">Analizar y comparar</button>
        </form>
      </p>
    </div>
  </div>
  <%= render 'tables' %>
</div>




