<header>
  <a id="logo" class="logo" href="https://www.gub.uy/ministerio-salud-publica/politicas-y-gestion/junta-nacional-de-salud" target="_blank">
    <img alt="MSP-JUNASA" src="/assets/MSP-JUNASA.svg"></img>
  </a>
  <a id="logo_ats" class="logos" href="https://atuservicio.msp.gub.uy/"><img alt="aTuServicio" src="/assets/logocolor.png"></img></a>
  <a id="logo_data" class="logos" href="https://datauy.org" target="_blank"><img alt="DATA" src="/assets/logo_data.svg"></img></a>
  <ul class="nav nav-pills">
    <li role="presentation">
      <a href="/sobre_el_proyecto">
        <span>Sobre el proyecto</span>
      </a>
    </li>
    <li role="presentation">
      <a href="/pias">
        <span>Catálogo Prestaciones</span>
      </a>
    </li>
    <!--
    <li role="presentation">
      <a href="/fnr">
        <span>Fondo Nacional de Recursos</span>
      </a>
    </li>
    <li role="presentation">
      <a href="/sistema-nacional-salud">
        <span>Sobre el Sistema Nacional de Salud</span>
      </a>
    </li>
  -->
    <li role="presentation">
      <a href="/usuarios">
        <span>Afiliaciones y cambios de prestador</span>
      </a>
    </li>
  </ul>

  <%= render partial: 'layouts/asse_modals' %>

  <% if flash.count > 0 %>
    <div class="clearfix">
    </div>
    <div class="alert alert-warning dismissable">
      <%= flash[:alert] %>
    </div>
  <% end %>
</header>
<img id="cabezal" alt="doctora-clinica-computadora" src="/assets/cabezal.jpg"></img>

<div class="content">
  <section id="filter">
    <div class="row">
      <div class="col-md-3">
        <h3>Te mostramos el listado de los prestadores integrales de salud del país. Compara sus indicadores y toma una decisión informada.</h3>
      </div>
      <div class="col-md-4">
        <%=
        select_tag "state",
        options_for_select(
          state_options(@states),
          params[:departamento]),
          class: "form-control"
        %>
      </div>
      <div class="col-md-4">
        <%= form_tag '/comparar', method: 'get', id: 'sites' do %>
          <%=
          select_tag "selected_providers",
          options_for_select(provider_options),
            include_blank: "Elija una institución",
            class: "form-control home_providers",
              name: 'selected_providers',
              id: 'selected_providers'
          %>
        <% end %>
      </div>
    </div>
  </section>
  <!--<section>
    <div class="warning">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 142">
        <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" transform="translate(5 5)">
          <path stroke-width="10" d="M20.32,132 L129.68,132 C140.72,132 149.68,123.05 149.68,112 C149.68,108.38 148.69,104.82 146.83,101.71 L92.15,10.58 C86.47,1.11 74.18,-1.96 64.71,3.72 C61.9,5.42 59.54,7.77 57.85,10.58 L3.17,101.71 C-2.51,111.18 0.57,123.47 10.03,129.15 C13.14,131.01 16.7,132 20.33,132 L20.32,132 Z"/>
          <path stroke-width="15" d="M5,32 L5,59.98 M5,4.8 L5,7" transform="translate(70 50)"/>
        </g>
      </svg>
      <div>
        <h3>Advertencia:</h3>
        <span>
          Debido al contexto sanitario actual han ido surgiendo nuevas modalidades de atención ambulatoria no presencial (consulta a distancia por llamada telefónica, videollamada o sistemas similares) que deben ser consideradas también dentro de la medición de tiempos de espera. En la información del semestre jul-dic 2020 se incluyó la discriminación de los tiempos de espera según si la solicitud de cita fue para consulta presencial o por telemedicina, existiendo prestadores que pudieron realizar dicha discriminación y otros que no. En este último caso los tiempos de espera informados consideran el total de citas solicitadas para el 1er. especialista disponible, sin discriminar entre uno y otro tipo de consulta. Por otra parte, en los prestadores que si informaron los tiempos de espera discriminados, se realizó además un promedio ponderado de los mismos para poder presentar en la “página de inicio” un único valor que permitiera la comparación entre todas las instituciones. Al ir al “sitio” de cada prestador se pueden visualizar los tiempos de espera discriminados según modalidad de consulta y compararlos con los de las instituciones que informaron con esa misma apertura.
        </span>
      </div>
    </div>
  </section>-->
  <section id="home_table">
    <div id="fixed-versus" class="block">
      <table class="table table-head">
        <%= render 'table_header' %>
        </tbody>
      </table>
    </div>

    <div class="block_preview">
      <table class="table table-head-preview">
        <%= render 'table_header' %>
        <!--Prestadora-->
        <%= render 'provider_rows' %>
        </tbody>
      </table>
    </div>
  </section>

  <%= render "layouts/modals" %>
</div>
