<div class="map-wraper" data-controller="map">
  <div id="map" data-map-target="container"></div>
  <div id="map-controls">
    <h1>Te damos la bienvenida a A Tu Servicio</h1>
    <p>En el siguiente mapa podrás visualizar todos los servicios relacionados a la salud en el país.</p>
    <div class="box map-location-filters">
      <h4>¿Te interesa ver una ubicación en particular?</h4>
      <div class="row">
        <%= select_tag "location", options_for_select( Zone.where(ztype: "Departamento").order(:name).pluck(:name, :id) ), {include_blank: true, data: {action: "change->map#zoneLocate"}} %>
        <%= button_tag "<i class='fas fa-location-crosshairs'></i>Utilizar mi ubicación".html_safe, class: "main-button", data: {action: "click->map#geoLocate"} %>
      </div>
    </div>
    <div class="box map-services-filters">
      <h4>¿Te interesa ver un servicio en particular?</h4>
      <div class="tags">
        <div>
          <i class="fas fa-house-medical"></i>
          <span>Prestadores</span>
        </div>
        <label class="switch">
          <%= check_box_tag :providers_map, true, data: {'map-prestador-value': true, action: "map#changeServices" }%>
          <span class="slider round"></span>
        </label>
      </div>
      <div class="tags">
        <div>
          <i class="fas fa-stethoscope"></i>
          <span>Policlínicas</span>
        </div>
        <label class="switch">
          <%= check_box_tag :providers_map, true, data: {'map-policlinicas-value': true, action: "map#changeServices" }%>
          <span class="slider round"></span>
        </label>
      </div>
    </div>
  </div>
</div>
<div class="tabs" data-controller="tabs">
  <div class="tabs-title">
    <h2>Listado de servicios de salud</h2>
    <p>Explorá los distintos servicios de salud dentro del país.</p>
    <%= text_field_tag 'name', nil, placeholder: "Buscar por nombre" %>
  </div>
  <div class="tabs-header">
    <%= button_tag "<i class='fas fa-house-medical'></i>Prestadores y servicios".html_safe,
    {data: {'tabs-tab-value': "prestadores", action: "tabs#switch_tab"},
    aria: { expanded: true, controls: "tab-prestadores"}} %>
    <%= button_tag "<i class='fas fa-stethoscope'></i>Polilínicas".html_safe,
    {data: {'tabs-tab-value': "clinicas", action: "tabs#switch_tab"},
    aria: { expanded: false, controls: "tab-clinicas"}} %>
    <%= button_tag "<i class='fas fa-house-medical'></i>Vacunatorios".html_safe,
    {data: {'tabs-tab-value': "vacunatorios", action: "tabs#switch_tab"},
    aria: { expanded: false, controls: "tab-vacunatorios"}} %>
    <%= button_tag "<i class='fas fa-stethoscope'></i>Otros servicios".html_safe,
    {data: {'tabs-tab-value': "otros", action: "tabs#switch_tab"},
    aria: { expanded: false, controls: "tab-other"}} %>
  </div>
  <div class="tabs-content">
    <div id="tab-prestadores" class="tab-inner" data-tabs-target="prestadores">
      <% @providers.each do |p| %>
        <%= render partial: '/provider/summary', locals: {provider: p} %>
      <% end %>
    </div>
    <div id="tab-vacunatorios" class="tab-inner" data-tabs-target="vacunatorios">

    </div>
    <div id="tab-clinicas" class="tab-inner" data-tabs-target="clinicas">

    </div>
    <div id="tab-other" class="tab-inner" data-tabs-target="otros">

    </div>
  </div>
</div>
<div id=news>
  <div class="empty-square"></div>
  <div class="empty-square"></div>
  <div class="empty-square"></div>
</div>
