<div 
  class="map-wraper"
  data-controller="map"
  data-map-geodata-value="<%= ActiveSupport::JSON.encode(@geodata)%>"
  data-map-sites-value="<%= ActiveSupport::JSON.encode(@sites.values) %>">
  <div id="map" data-map-target="container"></div>
  <div id="map-controls">
    <div class="initial">
      <h1>Te damos la bienvenida a A Tu Servicio</h1>
      <p>En el siguiente mapa podrás visualizar todos los servicios relacionados a la salud en el país.</p>
      <div class="box map-location-filters">
        <h4>¿Te interesa ver una ubicación en particular?</h4>
        <div class="row">
          <%= button_tag "<i class='fas fa-location-crosshairs'></i>Utilizar mi ubicación".html_safe, class: "main-button", data: {action: "click->map#geoLocate"} %>
        </div>
      </div>
      <div class="box map-services-filters">
        <h4>¿Te interesa ver un servicio en particular?</h4>
        <div class="tag">
          <div class="row">
            <%= image_tag '/images/hospital.svg' %>
            <span>Hospitales</span>
          </div>
          <label class="switch">
            <%= check_box_tag :third_level_map, 'thirdLevel', {data: {action: "map#changeServices" }, checked: true }%>
            <span class="slider round"></span>
          </label>
        </div>
        <div class="tag">
          <div class="row">
            <%= image_tag '/images/housemedical.svg' %>
            <span>Centros de salud</span>
          </div>
          <label class="switch">
            <%= check_box_tag :second_level_map, 'secondLevel', {data: {action: "map#changeServices" }, checked: true }%>
            <span class="slider round"></span>
          </label>
        </div>
        <div class="tag">
          <div class="row">
            <i class="fas fa-stethoscope"></i>
            <span>Policlínicas</span>
          </div>
          <label class="switch">
            <%= check_box_tag :first_level_map, 'firstLevel', {data: {action: "map#changeServices" }, checked: true }%>
            <span class="slider round"></span>
          </label>
        </div>
        <div class="tag">
          <div class="row">
            <%= image_tag '/images/vacunatorio.svg' %>
            <span>Vacunatorios</span>
          </div>
          <label class="switch">
            <%= check_box_tag :vacunatorios_map, 'zonesData', {data: {action: "map#changeServices" }, checked: true }%>
            <span class="slider round"></span>
          </label>
        </div>
        <div class="tag">
          <div class="row">
            <%= image_tag '/images/emergency.svg' %>
            <span>Puertas de emergencia</span>
          </div>
          <label class="switch">
            <%= check_box_tag :emergency_map, 'emergency', {data: {action: "map#changeServices" }, checked: true }%>
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="zone-info" data-map-target="info">
      <%= button_tag "X", class: "close", onclick: "this.parentNode.classList.remove('visible');setTimeout( e => {this.parentNode.style.display = 'none'}, 330)" %>
      <%= turbo_frame_tag "zone-description" %>
    </div>
  </div>
</div>
<div id="site-backdrop" class="backdrop" data-controller="site" data-action='click->site#closeModal'>
  <div class="info-box">
  <button class="close" data-action='click->site#closeModal'>X</button>
    <%= turbo_frame_tag "site_data" %>
  </div>
</div>
<div id="news">
  <%= render partial: 'news' %>
</div>
<div class="tabs" data-controller="tabs">
  <div class="tabs-title">
    <h2>Listado de servicios de salud</h2>
    <p>Explorá los distintos servicios de salud dentro del país.</p>
    <div class="tabs-filters">
      <%= text_field_tag 'name', nil, { placeholder: "Buscar por nombre", data: {action: "keyup->tabs#search", "tabs-target": 'filter1'}} %>
      <%= select_tag "state", options_for_select( @states ), {include_blank: 'Todo el país', data: {action: "change->tabs#search", "tabs-target": 'filter2'}} %>
    </div>
  </div>
  <div class="tabs-header">
    <%= button_tag "#{image_tag '/images/prestadores.svg'} Prestadores y servicios".html_safe,
    {data: {'tabs-tab-value': "prestadores", action: "tabs#switch_tab"},
    aria: { expanded: true, controls: "tab-prestadores"}} %>
    <%= button_tag "#{image_tag '/images/hospital.svg'} Infraestructura y sedes".html_safe,
    {data: {'tabs-tab-value': "clinicas", action: "tabs#switch_tab"},
    aria: { expanded: false, controls: "tab-clinicas"}} %>
    <%= button_tag "#{image_tag '/images/vacunatorio.svg'}Vacunatorios".html_safe,
    {data: {'tabs-tab-value': "vacunatorios", action: "tabs#switch_tab"},
    aria: { expanded: false, controls: "tab-vacunatorios"}} %>
  </div>
  <div class="tabs-content">
    <div id="tab-prestadores" class="tab-inner" data-controller="compare" data-compare-ctype-value="home">
      <div id="compare-bar" data-compare-target="bar">
        <h2>Comparar servicios de salud</h2>
        <div class="row header-left">
          <%= turbo_frame_tag "compare_list" %>
          <button class="main-button" data-action="compare#submit">Comparar</button>
        </div>
      </div>
      <%= turbo_frame_tag "provider_list" do %>
        <% @providers.each do |p| %>
          <%= render partial: '/provider/summary', locals: {provider: p} %>
        <% end %>
      <% end %>
      <% @sections.each do |s| %>
        <div id="info-<%= s['id'] %>" class="backdrop" onclick="this.style.display='none'">
          <div class="info-box">
            <button class="close" onclick="this.closest('.backdrop').style.display='none'">X</button>
            <div class="info-content"><%= s['info'].present? ? s['info'].html_safe : '' %></div>
          </div>
        </div>
      <% end %>
    </div>
    <div id="tab-clinicas" class="tab-inner">
      <%= turbo_frame_tag "sites_grid", class: "cards" %>
    </div>
    <div id="tab-vacunatorios" class="tab-inner">
      <%= turbo_frame_tag "infra_grid", class: "cards" %>
    </div>
  </div>
</div>
<div id=news>
  <div class="empty-square"></div>
  <div class="empty-square"></div>
  <div class="empty-square"></div>
</div>
