<%
  group = locals[:group]
  icon = locals[:icon]
%>

<div class="panel-group" role="tablist" aria-multiselectable="true">
  <div class="block">
    <div class="block_title" role="tab" id="heading<%= group %>">
      <h4>
        <a class="info" href="#" data-toggle="modal" data-target="#<%= group.to_s %>_modal">
          <i class="demo-icon icon-info"></i>
        </a>
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= group %>" aria-expanded="true" aria-controls="collapse<%= group %>">
          <i class="demo-icon icon-<%= icon %>"></i>
          <%= title(group) %><i class="fa fa-chevron-down"></i>
        </a>
      </h4>
    </div>
    <div id="collapse<%= group %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading<%= group %>">
      <table class="table">
        <tbody>
          <%= custom_asse_message(group) %>
          <% if group == :rrhh || group == :rrhh_cad || group == :rrhh_especialistas %>
            <tr>
              <td colspan="5">
                <div class="section-header">
                  <p class="asse">
                    Los datos presentados son a nivel país, considerando el total de trabajadores de la Institución en todas sus dependencias.
                  </p>
                  <% if group != :rrhh_cad %>
                    <%=
                    select_tag "states",
                    options_for_select(
                      state_options(@active_states),
                      params[:departamento]),
                      class: "states"
                    %>
                  <% end %>
                </div>
              </td>
            </tr>
            <%= render partial: 'rrhh_tables', locals: {group: group} %>
          <% else %>
            <% if group == :tiempos_espera %>
            <tr>
              <td colspan="5">
                <p class="asse">
                  Debido al contexto sanitario han surgido modalidades de atención ambulatoria no presencial (consulta a distancia por llamada telefónica, videollamada, etc.) que deben considerarse para la medición de tiempos de espera. Para el semestre jul-dic 2020 se incluyó la discriminación por consulta presencial o telemedicina, existiendo prestadores que pudieron realizar dicha discriminación y otros que no. En el último caso, los tiempos informados consideran el total de citas solicitadas para el 1er. especialista disponible, sin discriminar entre tipo de consulta. Para los prestadores que sí informaron los tiempos discriminados, se realizó un promedio ponderado para presentar en la visualización un único valor que permita la comparación entre todas las instituciones. Al consultar los detalles de cada prestador se pueden ver tiempos de espera discriminados según modalidad de consulta y compararlos con los de las instituciones que informaron con esa misma apertura.
                </p>
              </td>
            </tr>
            <p>
              <% end %>
              <% columns_name_description(group).each do |name, column| %>
              <tr>
                <td class="col-md-3 col-left">
                  <p>
                    <% if name.match(/\ ?CAD\ ?/) %>
                    <%= cad_abbr(name) %>
                    <% else %>
                    <%= name %>
                    <% end %>
                  </p>
                </td>
                <% @selected_providers.each do |provider| %>
                <%= show_value(group, column, provider) %>
                <% end %>
              </tr>
              <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
