<%# TODO fixme!!! %>
<% width_class = @selected_providers.count < 3 ? "col-md-4" : "col-md-3" %>

<% [:estructura, :metas, :precios, :tiempos_espera, :satisfaccion_derechos, :rrhh].each do |group| %>
  <tr class="table-title" >
    <td colspan="<%= @selected_providers.count + 1 %>">
      <h5><%= title(group) %></h5>
    </td>
  </tr>
  <%= custom_asse_message(group) %>
  <% columns_name_description(group).each do |name, column| %>
  <% unless column.match('datos_suficientes_tiempo_espera') %>
  <tr>
    <td class="pivot col-md-3 col-centered">
      <% if name.match(/CAD$/) %>
        <%= cad_abbr(name) %>
      <% else %>
        <%= name %>
      <% end %>
    </td>
      <% @selected_providers.each do |provider| %>
        <td class="col-md-<%= width_class%>">
          <%= show_value(group, column, provider) %>
        </td>
      <% end %>
    </tr>
    <% end %>
  <% end %>
<% end %>
