<% @indicators["#{group}"].values.each do |row| %>
    <tr class="<%= "#{group}" %>"><td class="col-md-3 col-left"><p><%= row[:desc] %></p></td>
    <% row[:indicator_values].each do |value| %>
      <% if row[:key].include? 'nuevo_regimen' %>
        <%= value.nil? ? ApplicationHelper.no_hay_datos.html_safe : "<td>#{value == 1 ? 'Si' : 'No'}</td>".html_safe %>
      <% else %>
        <%= value.nil? ? ApplicationHelper.no_hay_datos.html_safe : "<td>#{value}</td>".html_safe %>
      <% end %>
    <% end %>
    </tr>
<% end if @indicators["#{group}"].present? %>
<% if group == :rrhh_especialistas %>
    <% @specialists.values.each do |row| %>
      <tr class="rrhh-especialistas"><td class="col-md-3 col-left"><p><%= row[:title] %></p></td>
      <% row[:i_vals].each do |value| %>
        <%= value.nil? ? ApplicationHelper.no_hay_datos.html_safe : "<td>#{value}</td>".html_safe %>
      <% end %>
      </tr>
    <% end %>
<% end %>
<p>