<!-- Reconocimientos -->
<div class="modal fade" id="reconocimientos_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Reconocimientos</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>El Ministerio de Salud Pública y la Organización Panamericana de la Salud lanzaron a partir de 2018 convocatorias anuales para el Reconocimiento de buenas prácticas en capacidad resolutiva del primer nivel de atención a prestadores integrales de salud. En la edición 2018 se recibieron 101 propuestas. En 2019 se enfatizó en la evaluación complementaria de los niveles de integralidad de las unidades asistenciales donde se desarrollan las prácticas. Al 2020 se han entregado reconocimientos a "Muy buena práctica", "Buena práctica" y "Menciones especiales" en diversas categorías. <a href="https://www.gub.uy/ministerio-salud-publica/comunicacion/noticias/edicion-2019-del-concurso-de-buenas-practicas-en-el-primer-nivel-de-atencion">Ver más información</a>.</p>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- Prestador -->
<div class="modal fade" id="estructura_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Estructura</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>
          Los datos muestran el nombre completo y abreviado de la institución y el número de afiliados o usuarios FONASA y los afiliados o usuarios totales.
        </p>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!--Tiempos de espera -->
<div class="modal fade" id="tiempos_espera_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tiempos de espera</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>Se muestran los tiempos de espera promedio, medidos en días, para el primer médico disponible dentro de la especialidad considerada: medicina general, pediatría, cirugía general, ginecotocología y cardiología. El tiempo de espera individual es la diferencia entre la fecha de solicitud de la cita y la fecha de la cita médica otorgada, para el primer médico disponible dentro de cada especialidad. Si la cita se otorga para el mismo día en que se solicita, se contabiliza como tiempo de espera de cero días. Se presentan los promedios de los tiempos de espera individuales de todas las solicitudes de citas del período considerado.</p>
        <p>Se discriminan los tiempos de espera para consulta presencial o por telemedicina. En los prestadores que no pudieron realizar esta discriminación, los tiempos informados consideran el total de citas solicitadas para el 1er. especialista disponible, sin discriminar entre tipo de consulta.</p>
        <p>En los prestadores que sí informaron los tiempos de espera discriminados, se presenta además un promedio ponderado de ambos tiempos, de manera de contar con un único valor que permita la comparación entre todas las instituciones. La notación “no corresponde” se aplica cuando no existieron citas solicitadas con alguna de las modalidades de atención en el período considerado, con lo cual no corresponde calcular el tiempo de espera para dicha modalidad.</p>
        <p>Fecha del dato: promedio semestre julio – diciembre de 2022</p>
        <h3>En el caso de ASSE</h3>
        <%= render 'layouts/asse_tiempos_espera_info' %>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!--Tiempos de espera promedios-->
<div class="modal fade" id="tiempos_espera_promedios_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Promedio de tiempos de espera</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>Este promedio es calculado en base a la ponderación de datos de tiempos de espera de consultas presenciales y virtuales.</p>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- Derechos usuario -->
<div class="modal fade" id="satisfaccion_derechos_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Satisfacción de usuarios</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>Los indicadores que se definen a continuación surgen de las Encuestas de Satisfacción de Usuarios realizadas en los años 2014 y 2017 sobre Satisfacción con los Servicios del Primer Nivel de Atención y 2012 sobre Satisfacción con Internación Hospitalaria. Las encuestas abarcaron a afiliados de todas las Instituciones que conforman el Seguro Nacional de Salud.</p>
        <p>Las barras reflejan el porcentaje de cada uno de los indicadores sobre satisfacción y derechos, siendo el 100% el total de los usuarios universo del indicador.</p>
        <p>Estos indicadores proporcionan información sobre la "calidad percibida", por lo tanto, no constituye una medida "objetiva" de desempeño, ya que se formula desde la subjetividad de las personas que contestaron la encuesta, es decir, se basa en sus propias experiencias, necesidades, expectativas, etc.</p>
        <p><strong>Satisfacción</strong>: Promedio de las opiniones de los afiliados encuestados sobre su satisfacción con servicios del primer nivel de atención.</p>
        <p><strong>Disponibilidad de agenda</strong>: Porcentaje de usuarios que responden "Muy Buena" y "Buena" a la siguiente pregunta: Cuando Ud. pide hora en IS para consultar médico (personalmente, por teléfono o por Internet) ¿Cómo diría que es la disponibilidad de horarios para ver al médico/especialista que quiere consultar?.</p>
        <p><strong>Facilidad para trámites</strong>: Porcentaje de usuarios que responden "Muy Fácil" y "Fácil" a la siguiente pregunta: Los trámites y gestiones que debe realizar en (Institución) para consultar médico de medicina general o especialista, ¿le resultan fáciles o difíciles?</p>
        <p><strong>Disponibilidad de medicamentos</strong>: Porcentaje de usuarios que responden "Siempre" y "Casi siempre" a la siguiente pregunta: Cuando concurre a la farmacia de la Institución donde se atiende (SI TIENE) ¿siempre están disponibles los medicamentos o alguna vez se fue sin conseguirlos?</p>
        <p><strong>Información sobre derechos</strong>: Porcentaje de usuarios que responden "Sí" a la siguiente pregunta: En los últimos doce meses, ¿ha recibido por parte de (Institución) alguna información respecto a sus derechos como usuario?.</p>
        <p><strong>Recepción de quejas</strong>: Porcentaje de usuarios que responden "Sí" a la siguiente pregunta: Si hoy tuviese una queja o sugerencia para hacerle a (Institución) ¿sabe qué tiene que hacer, a dónde se debe dirigir?</p>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- Precios -->
<div class="modal fade" id="precios_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Órdenes y tickets</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>Los precios utilizados son los valores máximos de tickets y órdenes que las instituciones están autorizadas a cobrar a sus afiliados luego del ajuste correspondiente a julio 2024. Cuando se realiza la comparación entre instituciones, además de los tickets y órdenes para afiliados FONASA, pueden observarse los valores para los afiliados NO FONASA.</p>
        <p><strong>Medicamentos</strong>: Promedio de los precios FONASA/no FONASA de Ticket de medicamentos general y Ticket de medicamentos topeados antihipertensivos (valsartán, amlodipina, hidroclorotiazida, enalapril).</p>
        <p><strong>Consultas</strong>: Promedio de los precios FONASA/no FONASA de Consulta no urgente consultorio - medicina general, Consulta no urgente consultorio - pediatría, Consulta no urgente consultorio - gineco-obstetricia (control de embarazo), Consulta no urgente consultorio - ginecología, Consulta no urgente consultorio - otras especialidades, Consulta no urgencia domicilio, Consulta odontológica y Consulta médico de referencia.</p>
        <p><strong>Consultas urgencia</strong>: Promedio de los precios FONASA/no FONASA de Consulta urgencia centralizada y Consulta urgencia domicilio.</p>
        <p><strong>Estudios</strong>: Promedio de los precios FONASA/no FONASA de Endoscopía digestiva, Endoscopia esofagogastroduodenal, Ecografía simple, Ecodoppler miembros (inferiores / superiores) arterial / venoso, Rx abdomen / aparato urinario simple, Rx tórax, Rx colorectal, Resonancia nuclear magnética una región y Tomografía axial computarizada una región.</p>
        <p>Por más información: <a target="_blank" href="https://www.gub.uy/ministerio-salud-publica/datos-y-estadisticas/datos/precios-tickets-ordenes-instituciones-asistencia-medica-colectiva-iamc-partir-agosto-2024">Precios de tickets y órdenes de las Instituciones de Asistencia Médica Colectiva (IAMC) a partir de enero 2024</a>.</p>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- Metas -->
<div class="modal fade" id="metas_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Metas asistenciales</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>Las barras reflejan la proporción de los usuarios de cada institución que están cubiertos en cada indicador.</p>
        <p><b>Porcentaje de captación de recién nacido:</b> El indicador refiere al porcentaje de niños nacidos vivos, afiliados a la institución, que presentan su primer control médico en los primeros 10 días de vida.</p>
        <p>El cumplimiento de la meta comprende el control efectivo de salud, así como protocolos de actuación los cuales contemplan determinados casos debidamente acreditados en los que los usuarios no concurren a los controles de salud en tiempo, a pesar de una actitud activa de citación por parte de la Institución.</p>
        <p>Fecha del dato: Se toma el cumplimiento de la institución para el cuatrimestre enero-febrero-marzo-abril 2023.</p>
        <p><b>Porcentaje de niños con control de desarrollo a los 4 meses de edad:</b> El indicador refiere al porcentaje de niños de 6 meses que cuentan con control de desarrollo entre los 3 y 5 meses de edad.</p>
        <p>El cumplimiento de la meta comprende el control efectivo de salud, así como protocolos de actuación los cuales contemplan determinados casos debidamente acreditados en los que los usuarios no concurren a los controles de salud en tiempo, a pesar de una actitud activa de citación por parte de la Institución.</p>
        <p>Fecha del dato: Se toma el cumplimiento de la institución para el cuatrimestre enero-febrero-marzo-abril 2023.</p>
        <p><b>Porcentaje de niños con control de desarrollo a los 18 meses de edad:</b> El indicador refiere al porcentaje de niños de 21 meses que cuentan con control de desarrollo entre los 16 y 20 meses de vida.</p>
        <p>El cumplimiento de la meta comprende el control efectivo de salud, así como protocolos de actuación los cuales contemplan determinados casos debidamente acreditados en los que los usuarios no concurren a los controles de salud en tiempo, a pesar de una actitud activa de citación por parte de la Institución.</p>
        <p>Fecha del dato: Se toma el cumplimiento de la institución para el cuatrimestre enero-febrero-marzo-abril 2023.</p>
        <p><b>Porcentaje de niños con control de desarrollo a los 4 años de edad:</b> El indicador refiere al porcentaje de niños de 55 meses que cuentan con control de desarrollo entre los 42 y 54 meses de vida.</p>
        <p>El cumplimiento de la meta comprende el control efectivo de salud, así como protocolos de actuación los cuales contemplan determinados casos debidamente acreditados en los que los usuarios no concurren a los controles de salud en tiempo, a pesar de una actitud activa de citación por parte de la Institución.</p>
        <p>Fecha del dato: Se toma el cumplimiento de la institución para el cuatrimestre enero-febrero-marzo-abril 2023.</p>
        <p><i>Estos indicadores pretenden mostrar los resultados de las instituciones respecto al adecuado control y seguimiento del niño/a.</i></p>
        <p><b>Tasa de cobertura de tamizaje en cáncer colorrectal en usuarios de 60 a 70 años:</b> Este indicador refiere al porcentaje de afiliados de 60 a 70 años de la institución que se les realizó en los últimos 2 años el tamizaje de cáncer colo-rectal a través de la realización de un test de sangre oculta en materias fecales.</p>
        <p>Dicho indicador busca estimular la realización de este test con el fin de diagnosticar precozmente este tipo de cáncer con la posibilidad de realizar el tratamiento oportuno.</p>
        <p>Fecha del dato: Se toma el cumplimiento de la institución para el cuatrimestre enero-febrero-marzo-abril 2023.</p>
        
        <p><b>Tasa de cobertura de PAP en mujeres de 21 a 64 años:</b> Este indicador refiere al porcentaje de afiliadas de 21 a 64 años de la institución que se les realizó en los últimos 3 años el tamizaje de cáncer de cuello de útero a través de la realización del Papanicolau.</p>
        <p>Dicho indicador busca estimular una mayor realización de este estudio con el fin de diagnosticar precozmente este tipo de cáncer y poder realizar tratamiento oportuno.</p>
        <p>Fecha del dato: Se toma el cumplimiento de la institución para el cuatrimestre enero-febrero-marzo-abril 2023.</p>
        <p><b>Tasa de cobertura de tamizaje con mamografía en mujeres de 50 a 69 años:</b> Este indicador refiere al porcentaje de afiliadas de 50 a 69 años de la institución que se les realizó en los últimos 2 años el tamizaje de cáncer de mama a través de la realización de mamografía.</p>
        <p>Dicho indicador busca estimular una mayor realización de este estudio con el fin de diagnosticar precozmente este tipo de cáncer y poder realizar tratamiento oportuno.</p>
        <p>Fecha del dato: Se toma el cumplimiento de la institución para el cuatrimestre enero-febrero-marzo-abril 2023.</p>
        <p><b>Tasa de cesárea:</b> Este indicador refiere al porcentaje de partos por cesárea sobre el total de partos para cada Institución para el año 2022.</p>
        <p>El mismo no forma parte de los indicadores de pago por desempeño de las Metas Asistenciales. No obstante, es un indicador de relevancia en cuanto a la calidad de la atención en salud perinatal.</p>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- Cantidad de socios -->
<div class="modal fade" id="affiliates_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Cantidad de usuarios</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>
          Número total de afiliados o usuarios a marzo 2022 y porcentaje que representa en el total de los prestadores integrales del Seguro Nacional de Salud, considerando afiliados o usuarios FONASA y NO FONASA.
        </p>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- RRHH Personal básico -->
<div class="modal fade" id="rrhh_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Personal básico orientado a la asistencia</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>
          Los indicadores de esta sección muestran la disponibilidad de personal para la atención en policlínica. Un nivel alto del indicador refleja una mayor disponibilidad de cargos por usuarios y es de esperar que eso tenga impacto positivo sobre la calidad asistencial de la población.
        </p>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- RRHH Méd. Generales y especialistas -->
<div class="modal fade" id="rrhh_cad_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Médicos generales y especialistas con alta dedicación</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>
          Los indicadores de esta sección muestran la disponibilidad de cargos de alta dedicación de medicina. Los cargos de alta dedicación son un beneficio importante para los usuarios, en la medida que permiten mejorar su vínculo con el médico tratante, quien al tener una mayor dedicación horaria tendrá una mayor disponibilidad para atender las necesidades de su población de referencia y podrá dar una mayor continuidad a la atención, tanto en policlínica como en los distintos episodios de enfermedad que requieran atención en cualquier nivel asistencial.
        </p>
        <h3>Sobre indicadores de CTI</h3>
        <p>
          El indicador señala si el CTI funciona en régimen de alta dedicación o no. Toma valor “si” cuando cuenta con médicos que trabajan en el servicio diariamente dando continuidad a la atención a lo largo de toda la semana. En este caso, la transformación hacia el nuevo régimen de trabajo no es individual de cada médico sino del CTI en su conjunto. Este régimen de trabajo donde es el mismo médico o equipo el que ve a los pacientes diariamente permite disminuir la variabilidad en el manejo clínico que es un elemento de mejora en la efectividad y en el control de los procesos. A su vez, mejora sustancialmente el vínculo con las familias en un área cerrada donde la información para estas es crítica.
        </p>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- RRHH Especialistas y principales profesiones -->
<div class="modal fade" id="rrhh_especialistas_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Especialistas y principales profesiones</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>
          Los indicadores de esta sección brindan la posibilidad de consultar la disponibilidad de algunas especialidades o profesiones de su interés. Un nivel alto del indicador refleja una mayor disponibilidad  en relación a la cantidad de usuarios de la institución y es de esperar que eso tenga impacto positivo sobre el acceso a la consulta por parte de los usuarios.
        </p>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- Solicitud consultas -->
<div class="modal fade" id="solicitud_consultas_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Solicitud consultas</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>Los datos muestran algunas características de los sistemas de agenda de Consulta Externa de las instituciones prestadoras de salud: vías de asignación de citas, existencia de recordatorio de citas, existencia de caída de reservas de citas no confirmadas, forma de comunicación con el usuario por suspensión o modificación de consultas.</p>
        <p>Fecha del dato: diciembre 2022</p>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- ASSE tiempos de espera -->
<div class="modal fade" id="asse_tiempos_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tiempos de espera ASSE</h4>
      </div>
      <div class="modal-body">
        <h5><%= render 'layouts/asse_tiempos_espera_info' %></h5>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>
