<!-- Prestador -->
<div class="modal fade" id="estructura_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Estructura</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>
          Los datos muestran el nombre completo y abreviado de la institución y el número de afiliados o usuarios FONASA y los afiliados o usuarios totales.
        </p>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!--Tiempos de espera -->
<div class="modal fade" id="tiempos_espera_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tiempos de espera</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>
          Se muestran los tiempos de espera promedio, medidos en días, para diferentes especialidades (medicina general, pediatría, cirugía general, ginecotocología y cardiología).
        </p>
        <p>
        El tiempo de espera individual es la diferencia entre la fecha de solicitud de la cita y la fecha de la cita médica otorgada, para el primer médico disponible dentro de cada especialidad. Si la cita se otorga para el mismo día en que se solicita, se contabiliza como tiempo de espera de cero días. Se presentan los promedios de los tiempos de espera individuales de todas las solicitudes de citas del período considerado.
        </p>
        <h3>En el caso de ASSE</h3>
        <p>
          ASSE desarrolló en el año 2012 el Sistema de Gestión Consultas (SGC) (Sistema web), que se encuentra en proceso de expansión en todo el país, tanto en el primer, como segundo y tercer nivel de atención.
        </p>
        <p>
          Actualmente se encuentra implantado en 267 Unidades Asistenciales -46 unidades más que en el año 2015-, de las cuales 217 son Centros de Salud o Policlínicas y 50 son Hospitales o Centros Auxiliares.
        </p>
        <p>
          Está prevista que continúe la implantación del sistema a lo largo de los próximos años. En función de esta implantación progresiva, los datos de tiempo de espera que surgen actualmente del SGC no son representativos de toda la institución, ni de sus diferentes niveles de complejidad.
        </p>
        <p>Ver información complementaria en: <a href="http://www.asse.com.uy/contenido/Movilidad-Regulada-8431" target="_blank">http://www.asse.com.uy/contenido/Movilidad-Regulada-8431</a></p>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- Derechos usuario -->
<div class="modal fade" id="satisfaccion_derechos_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Derechos de usuario</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>
          Los indicadores que se definen a continuación surgen de las Encuestas de Satisfacción de Usuarios realizadas en los años 2010 y 2014 sobre Satisfacción con los Servicios del Primer Nivel de Atención y 2012 sobre Satisfacción con Internación Hospitalaria. Las encuestas abarcaron a afiliados de todas las Instituciones que conforman el Seguro Nacional de Salud.
        </p>
        <p>
          Las barras reflejan el porcentaje de cada uno de los indicadores sobre satisfacción y derechos, siendo el 100% el total de los usuarios universo del indicador.
        </p>
        <p>
          Estos indicadores proporcionan información sobre la "calidad percibida", por lo tanto, no constituye una medida "objetiva" de desempeño, ya que se formula desde la subjetividad de las personas que contestaron la encuesta, es decir, se basa en sus propias experiencias, necesidades, expectativas, etc.
        </p>
        <p>
          <strong>Satisfacción</strong>: Promedio de las opiniones de los afiliados encuestados sobre su satisfacción con servicios del primer nivel de atención.
        </p>
        <p>
          <strong>Disponibilidad de agenda</strong>: Porcentaje de usuarios que responden "Muy Buena" y "Buena" a la siguiente pregunta: Cuando Ud. pide hora en IS para consultar médico (personalmente, por teléfono o por Internet) ¿Cómo diría que es la disponibilidad de horarios para ver al médico/especialista que quiere consultar?.
        </p>
        <p>
          <strong>Facilidad para trámites</strong>: Porcentaje de usuarios que responden "Muy Fácil" y "Fácil" a la siguiente pregunta: Los trámites y gestiones que debe realizar en (Institución) para consultar médico de medicina general o especialista, ¿le resultan fáciles o difíciles?
        </p>
        <p>
          <strong>Disponibilidad de medicamentos</strong>: Porcentaje de usuarios que responden "Siempre" y "Casi siempre" a la siguiente pregunta: Cuando concurre a la farmacia de la Institución donde se atiende (SI TIENE) ¿siempre están disponibles los medicamentos o alguna vez se fue sin conseguirlos?
        </p>
        <p>
          <strong>Información sobre derechos</strong>: Porcentaje de usuarios que responden "Sí" a la siguiente pregunta: En los últimos doce meses, ¿ha recibido por parte de (Institución) alguna información respecto a sus derechos como usuario?.
        </p>
        <p>
          <strong>Recepción de quejas</strong>: Porcentaje de usuarios que responden "Sí" a la siguiente pregunta: Si hoy tuviese una queja o sugerencia para hacerle a (Institución) ¿sabe qué tiene que hacer, a dónde se debe dirigir?
        </p>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- Precios -->
<div class="modal fade" id="precios_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Precios</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>
          Se incluyen los precios máximos de tickets y órdenes que las instituciones están autorizadas a cobrar a sus afiliados a partir de enero de 2017, tanto para afiliados o usuarios FONASA, como NO FONASA.
        </p>
        <p>
          <strong>Medicamentos</strong>: Promedio de los precios de Ticket de medicamentos general y Ticket de medicamentos topeados antihipertensivos (valsartán, amlodipina, hidroclorotiazida, enalapril).
        </p>
        <p>
          <strong>Consultas</strong>: Promedio de los precios de Consulta no urgente consultorio - medicina general, Consulta no urgente consultorio - pediatría, Consulta no urgente consultorio - gineco-obstetricia (control de embarazo), Consulta no urgente consultorio - ginecología, Consulta no urgente consultorio - otras especialidades, Consulta no urgencia domicilio, Consulta odontológica y Consulta médico de referencia.
        </p>
        <p>
          <strong>Consultas urgencia</strong>: Promedio de los precios de Consulta urgencia centralizada y Consulta urgencia domicilio.
        </p>
        <p>
          <strong>Estudios</strong>: Promedio de los precios de Endoscopía digestiva, Endoscopia esofagogastroduodenal, Ecografía simple, Ecodoppler miembros (inferiores / superiores) arterial / venoso, Rx abdomen / aparato urinario simple, Rx tórax, Rx colorectal, Resonancia nuclear magnética una región, Tomografía axial computarizada una región y Laboratorio, rutina básica.
        </p>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- Metas -->
<div class="modal fade" id="metas_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Indicadores asistenciales</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>Las barras reflejan la proporción de los usuarios de cada institución que están cubiertos en cada indicador. </p>
        <p><b>Captación RN:</b> El indicador refiere al porcentaje de niños nacidos vivos, afiliados a la
institución, que presentan su primer control médico en los primeros 10 días de vida.</p>
        <p><b>Porcentaje de niños de un año con control de desarrollo en el 4to mes de vida:</b> El indicador refiere al porcentaje de niños de un año que cuentan con control de desarrollo en el 4to mes de vida.</p>
        <p><b>Porcentaje de embarazadas con control de HIV y VDRL en el 1er, 2° y 3er trimestre:</b> El indicador refiere al porcentaje de mujeres afiliadas que presentan un parto/cesárea en el trimestre y cuentan con análisis paraclínico de VDRL y HIV en el 1er, 2° y 3er trimestre de embarazo.</p>
        <p><b>Porcentaje de usuarios de 25 a 64 años captados e identificados como hipertensos:</b> El
indicador refiere al porcentaje de personas entre 25 y 64 años afiliadas a la institución que han
sido diagnosticadas con hipertensión.
</p>
        <p><b>Porcentaje de médicos con capacitación realizada en tratamiento del infarto agudo de miocardio con ST elevado:</b> El indicador refiere a la formación permanente de aquellos médicos que se desempeñan en los servicios de urgencia/emergencia, cuidados moderados e intensivos y sistemas de traslado en el tratamiento de la reperfusión del infarto agudo de miocardio con segmento ST elevado.
</p>
        <p><b>Tasa de cesáreas:</b> La tasa de cesáreas es el porcentaje de partos terminados por vía cesárea en relación al total de partos.</p>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- Cantidad de socios -->
<div class="modal fade" id="affiliates_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Cantidad de usuarios</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>
          Las cifras indican el personal disponible cada 10.000 usuarios para diferentes especialidades médicas y no médicas y los Cargos de Alta Dedicación (CAD) cada 10.000 usuarios que fueron creados en el marco del Nuevo Régimen de Trabajo Médico (NRTM) y que abarcan también a varias especialidades.
        </p>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- RRHH -->
<div class="modal fade" id="rrhh_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">RRHH</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>
          Las cifras indican el personal disponible cada 10.000 usuarios para diferentes especialidades médicas y no médicas y los Cargos de Alta Dedicación (CAD) cada 10.000 usuarios que fueron creados en el marco del Nuevo Régimen de Trabajo Médico (NRTM) y que abarcan también a varias especialidades.
        </p>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- Solicitud consultas -->
<div class="modal fade" id="solicitud_consultas_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Solicitud consultas</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>Los datos muestran algunas características de los sistemas de Agenda de Consulta Externa de las instituciones: tipos de vías de asignación de citas, existencia de recordatorio de citas, existencia de caída de reservas de citas no confirmadas, formas de comunicación con el usuario por suspensión o modificación de consultas.</p>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- ASSE tiempos de espera -->
<div class="modal fade" id="asse_tiempos_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tiempos de espera ASSE</h4>
      </div>
      <div class="modal-body">
        <h5><%= render 'layouts/asse_tiempos_espera_info' %></h5>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>
