<tr>
  <td></td>
  <% @selected_providers.each do |provider| %>
  <td class="accordion_cell">
    <% provider.states.each do |state| %>
    <div class="accordion">
      <h3 class="site_title">Sedes en <%= state %></h3>
      <div>
        <% provider.sites_by_state(state).map do |site| %>
          <span class="site_address">
            <%= site.localidad %>: <%= site.direccion %><br/>
            Nivel: <%= site.nivel %><br/>
            Urgencia <%= boolean_icons(site.servicio_de_urgencia) %>
          </span>
          <p class="site_title">Especialidades:</p>
          <% columns_name_description(:sedes).each do |name, column| %>
            <% unless site_column_exceptions.include?(name) %>
              <div>
                <% unless ['direccion', 'localidad', 'departamento', 'nivel', 'servicio_de_urgencia', 'medicina_intensiva'].include? column %>
                  <%= name %>: <%= boolean_icons(site.send(column.to_sym)) %>
                <% end %>
              </div>
            <% end %>
          <% end %><!-- Ends sites info-->
        <% end %><!-- sites by state-->
      </div>
    </div>
    <% end %>
  </td>
  <% end %>
</tr>
