<div class="panel-group" role="tablist" aria-multiselectable="true">
  <div class="block">
    <div class="block_title" role="tab" id="headingEight">
      <h4>
        <a class="info" href="#" data-toggle="modal" data-target="#myModal">
          <i class="demo-icon icon-info"></i>
        </a>
        <a role="button" data-toggle="collapse"  href="#collapseSites" aria-expanded="true" aria-controls="collapseSites">
          <i class="demo-icon icon-sedes"></i>Sedes<i class="fa fa-chevron-down"></i>
        </a>
      </h4>
    </div>
    <div id="collapseSites" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSites">
      <table class="table">
        <tbody>
          <tr>
            <td class="col-md-3 col-left" style="vertical-align: top;">
            </td>
            <% @selected_providers.each do |provider| %>
              <td style="vertical-align: top;">
                <% provider.sites.each do |site| %>
                  <table class="table table-condensed sites">
                    <thead>
                      <tr>
                        <th class="block_title">
                          <a role="button" data-toggle="collapse"  href="#collapse<%= site.id %>" aria-expanded="true" aria-controls="collapse<%= site.id %>">
                            <%= site.direccion.split(" ").map(&:capitalize).join(" ") %>
                          </a>
                        </th>
                      </tr>
                    </thead>
                    <tbody class="panel-collapse collapse" id="collapse<%= site.id %>">
                      <%= show_site_data(site, 'structure') %>
                      <tr>
                        <th>Datos</th>
                      </tr>
                      <%= show_site_data(site, 'data') %>
                    </tbody>
                  </table>
                <% end %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
