<section>
  <div class="block" data-step="1" data-intro="Estas son las Prestadoras" data-position='top'>
    <table class="table table-head">
      <tbody>
        <tr>
          <td class="col-md-3">
            <p>Compartir esta comparativa en:</p>
            <ul class="share-nav">
              <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </td>

          <% @selected_providers.each do |provider| %>
            <td data-step="4" data-intro="Estas son las Prestadoras" data-position='top'>
              <figure>
                <%=
                image_tag "url",
                alt: provider.nombre_abreviado,
                title: provider.nombre_abreviado,
                class: "img-thumbnail"
                %>
              </figure>
              <h3>
                <%= provider.nombre_abreviado %>
              </h3>
              <%= link_to provider.web, "http://#{provider.web}" %>
              <a class="icon-delate" href="#">
                <span>Borrar</span><i class="fa fa-trash"></i>
              </a>
              <!-- TODO: Sólo si segundo o tercero: <span class="title-vs"> vs </span> -->
            </td>
            <% end %><!-- End selected_providers loop -->
        </tr>
      </tbody>
    </table>
  </div>
  <% if flash.count > 0 %>
    <div class="alert alert-warning dismissable">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <%= render partial: 'group_data', locals: { providers: @selected_providers }%>
  <!-- TODO -->
  <!-- %= render partial: 'you_are_comparing', locals: { provider: provider } %-->
</section>
<%= render partial: 'modals'%>
