<h1>Comparando </h1>

<%= select_tag "state", options_for_select(state_options) %>
<%= select_tag "provider", options_for_select(provider_options), include_blank: "Elija una instituci&oacute;n" %>

<div class="hidden">
<%= form_tag(compare_path, method: :get, remote: true) do %>
  <%= hidden_field_tag "selected_providers", @selected_providers.map(&:id) %>
  <%= submit_tag 'submit', id: 'submit' %>
<% end %>
</div>

<%= link_to 'Agregar', compare_path(id: [62, 90001]) %>

<div id="comparison-data">
  <%= render partial: 'table', locals: {selected_providers: @selected_providers} %>
</div>
