<section>

  <!-- Search box -->
  <% if @selected_providers.count < 3 %>
    <div class="input-group search-prestadora">
      <input type="text" class="form-control" placeholder="Buscar otra prestadora">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Buscar</button>
      </span>
    </div>
  <% end %>

  <div class="block" data-step="1" data-intro="Estas son las Prestadoras" data-position='top'>
    <table class="table table-head">
      <tbody>
        <tr>
          <td class="col-md-3">
            <p>Compartir esta comparativa en:</p>
            <ul class="share-nav">
              <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
              <li>
                <a href="https://twitter.com/intent/tweet?text=<%= share_message %>" target="_blank">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
            </ul>
          </td>

          <% @selected_providers.each_with_index do | provider, index | %>
            <td data-step="4" data-intro="Estas son las Prestadoras" data-position='top'>
              <figure>
                <!-- TODO - IMAGE -->
                <%=
                image_tag "logos/#{provider.logo}",
                alt: provider.nombre_abreviado,
                title: provider.nombre_abreviado,
                class: "img-thumbnail"
                %>
              </figure>
              <h3>
                <%= provider.nombre_abreviado %>
              </h3>
              <%= link_to provider.web, "http://#{provider.web}" %>
              <a class="icon-delate remove_provider" href="#" data-provider="<%= provider.id %>">
                <span>Borrar</span><i class="fa fa-trash"></i>
              </a>
              <% if index > 0 %>
                <span class="title-vs"> vs </span>
              <% end %>
            </td>
          <% end %><!-- End selected_providers loop -->
        </tr>
      </tbody>
    </table>
  </div>
  <% if flash.count > 0 %>
    <div class="alert alert-warning dismissable">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <!-- Hidden part fixed for scrolling -->
  <div id="fixed-versus" class="block">
    <table class="table table-head">
      <tbody>
        <tr>
          <td class="col-md-3">
            <h3 style="text-align:left">Estas comparando:</h3>
          </td>
          <% @selected_providers.each_with_index do | provider, index | %>
            <td>
              <h3><%= provider.nombre_abreviado %></h3>
              <%= link_to provider.web, "http://#{provider.web}" %>
              <a class="icon-delate remove_provider" href="#" data-provider="<%= provider.id %>">
                <span>Borrar</span><i class="fa fa-trash"></i>
              </a>
              <% if index > 0 %>
                <span class="title-vs"> vs </span>
              <% end %>
            </td>
          <% end %><!-- End selected_providers loop -->
        </tr>
      </tbody>
    </table>
  </div>
  <!--END: Hidden part fixed for scrolling -->

  <%= render partial: 'group_data', locals: { providers: @selected_providers }%>
</section>
<%= render partial: 'modals'%>
