<%= render partial: 'layouts/header'%>
<section>
  <!-- Search box -->
  <% if @selected_providers.count < 3 %>
    <%= form_tag '/agregar', method: 'get', id: 'compare' do %>
    <div class="input-group search-prestadora">
      <%=
        text_field_tag :search,
          nil,
          class: "search-query form-control",
          placeholder: "Buscar otro prestador",
          type: "search",
          data: {
            autocomplete: autocomplete_provider_search_name_providers_path,
            id_element: "#provider_id"
          }
      %>
      <input type="hidden" id="provider_id" name="provider_id">
      <input type="hidden" id="selected_providers" name="selected_providers" value="<%= @selected_providers.map(&:id).join(' ')%>">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit" id="add_provider">Agregar</button>
      </span>
    </div>
    <% end %>
  <% end %>

  <div class="block" data-step="1" data-intro="Estos son los Prestadores" data-position='top'>
    <table class="table table-head">
      <tbody>
        <tr>
          <td class="col-md-3">
            <p>Compartir esta comparativa en:</p>
            <ul class="share-nav">
              <li>
                <a href="http://www.facebook.com/sharer.php?u=<%= current_url%>" target="_blank">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/intent/tweet?text=<%= "#{share_message} - #{current_url}" %>" target="_blank">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
            </ul>
          </td>

          <% @selected_providers.each_with_index do | provider, index | %>
            <td data-step="4" data-intro="Estos son los Prestadores" data-position='top'>
              <figure>
                <!-- TODO - IMAGE -->
                <%=
                image_tag "logos/#{provider.logo}",
                alt: provider.nombre_abreviado,
                title: provider.nombre_abreviado,
                class: "img-thumbnail"
                %>
              </figure>
              <h3>
                <%= provider.nombre_abreviado %>
              </h3>
              <%= link_to provider.web, "http://#{provider.web}", target: '_blank' %>
              <a class="icon-delate remove_provider" href="#" data-provider="<%= provider.id %>">
                <span>Borrar</span><i class="fa fa-trash"></i>
              </a>
              <% if index > 0 %>
                <span class="title-vs"> vs </span>
              <% end %>
            </td>
          <% end %><!-- End selected_providers loop -->
        </tr>
      </tbody>
    </table>
  </div>
  <% if flash.count > 0 %>
    <div class="alert alert-warning dismissable">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <!-- Hidden part fixed for scrolling -->
  <div id="fixed-versus" class="block">
    <table class="table table-head">
      <tbody>
        <tr>
          <td class="col-md-3">
            <h3 style="text-align:left">Estas comparando:</h3>
          </td>
          <% @selected_providers.each_with_index do | provider, index | %>
            <td>
              <h3><%= provider.nombre_abreviado %></h3>
              <%= link_to provider.web, "http://#{provider.web}" %>
              <a class="icon-delate remove_provider" href="#" data-provider="<%= provider.id %>">
                <span>Borrar</span><i class="fa fa-trash"></i>
              </a>
              <% if index > 0 %>
                <span class="title-vs"> vs </span>
              <% end %>
            </td>
          <% end %><!-- End selected_providers loop -->
        </tr>
      </tbody>
    </table>
  </div>
  <!--END: Hidden part fixed for scrolling -->

  <!-- The partial that has all the info -->
  <%= render partial: 'group_data' %>
  <%= render partial: 'sites' %>
</section>
<%= render partial: 'modals'%>
<%= render partial: 'layouts/asse_modals' if @selected_providers.map(&:id).include? 9000 %>
