<%= render "layouts/page_header" %>

<div class="container" id="comparision">
  <h1>Comparar </h1>

  <% if flash.count > 0 %>
    <div class="alert alert-warning dismissable">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <div class="row compare">
    <div class="col-md-6">
      <h2>Selecciona un departamento</h2>
      <%= select_tag "state", options_for_select(state_options) %>
    </div>

    <div class="col-md-6">
      <h2>Elegir un prestador</h2>
      <%= select_tag "provider", options_for_select(provider_options), include_blank: "Elija una institución" %>
    </div>
  </div>

  <div class="hidden">
    <%= form_tag(compare_path, method: :get, remote: true) do %>
    <%= hidden_field_tag "selected_providers", @selected_providers.map(&:id) %>
    <%= submit_tag 'submit', id: 'submit' %>
    <% end %>
  </div>

  <div id="comparison-data""row">
    <%= render partial: 'table', locals: {selected_providers: @selected_providers} %>
  </div>
</div>
