<div class="site-section"
  data-controller="map"
  data-map-sites-value="<%= ActiveSupport::JSON.encode(@sites.values) %>"
  data-map-mtype-value="compare">
  <div class="section-header">
      <%= button_tag "#{svg('map-pin.svg')} Utilizar mi ubicación".html_safe, class: "main-button", data: {action: "click->map#geoLocate"} %>
      <div class="header-right">
        <span>Mostrar en mapa</span>
        <label class="switch">
          <%= check_box_tag :show_map, 'show_map', {data: {action: "map#showMap" }, checked: true }%>
          <div class="slider round"></div>
        </label>
      </div>
  </div>
  <div class="map-wraper">
    <div id="map-controls">
      <div class="initial">
        <% @providers.each do |p| %>
          <div class="tag">
            <div class="flex">
              <span><%= p.short_name %></span>
            </div>
            <label class="switch">
              <%= check_box_tag :"provider-#{p.id}", p.id, {data: {action: "map#changeProvider" }, class: "map-providers", checked: true }%>
              <div class="slider round"></div>
            </label>
          </div>
        <% end %>
        <div class="box map-services-filters">
          <h4>¿Te interesa ver un servicio en particular?</h4>
          <div class="tag">
            <div class="flex">
              <%= svg('hospital.svg') %>
              <span>Hospitales</span>
            </div>
            <label class="switch">
              <%= check_box_tag :thirdLevel, 'thirdLevel', {data: {action: "map#changeServices" }, checked: true }%>
              <div class="slider round"></div>
            </label>
          </div>
          <div class="tag">
            <div class="flex">
              <%= svg('housemedical.svg') %>
              <span>Centros de salud</span>
            </div>
            <label class="switch">
              <%= check_box_tag :secondLevel, 'secondLevel', {data: {action: "map#changeServices" }, checked: true }%>
              <span class="slider round"></span>
            </label>
          </div>
          <div class="tag">
            <div class="flex">
              <%= svg('stethoscope.svg') %>
              <span>Policlínicas</span>
            </div>
            <label class="switch">
              <%= check_box_tag :firstLevel, 'firstLevel', {data: {action: "map#changeServices" } }%>
              <span class="slider round"></span>
            </label>
          </div>
          <div class="tag">
            <div class="flex">
              <%= svg('vacunatorio.svg') %>
              <span>Vacunatorios</span>
            </div>
            <label class="switch">
              <%= check_box_tag :zonesData, 'zonesData', {data: {action: "map#changeServices" } }%>
              <span class="slider round"></span>
            </label>
          </div>
          <div class="tag">
            <div class="flex">
              <%= svg('emergency.svg') %>
              <span>Puertas de emergencia</span>
            </div>
            <label class="switch">
              <%= check_box_tag :emergency, 'emergency', {data: {action: "map#changeServices" } }%>
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="zone-info" data-map-target="info">
        <%= button_tag "X", class: "close", onclick: "this.parentNode.classList.remove('visible');setTimeout( e => {this.parentNode.style.display = 'none'}, 330)" %>
        <%= turbo_frame_tag "zone-description" %>
      </div>
    </div>
    <div id="map" data-map-target="container"></div>
  </div>
  <div id="sites-list">
    <% Zone.where(ztype: "Departamento").order(:name).each do |depto| %>
      <% div = "<div class='item label'>#{depto.name}</div>" %>
        <% add = false %>
        <% section['data'].each_with_index do |pd, i| %>
          <% if pd[depto.id].present? %>
            <% add = true %>
            <% div += "<div class='item'><span class='value'>#{pd[depto.id]}</span>#{
              button_tag "Ver detalle", data: {
                controller: "site", 
                "site-provider-value": @providers[i].id,
                "site-state-value": depto.id,
                "site-target": "button",
                action: "click->site#getSites"
                },
                class: 'link',
                aria: { expanded: false, controls: "site-backdrop"}}
            </div>" %>
          <% else %>
            <% div += "<div class='item'>Sin sedes</div>" %>
          <% end %>
        <% end %>
        <% if add %>
          <div class="row">
          <%= div.html_safe %>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
<div id="site-backdrop" class="backdrop" data-controller="site" data-action='click->site#closeModal'>
  <div class="info-box">
    <button class="close" data-action='click->site#closeModal'>X</button>
    <%= turbo_frame_tag "site_data" %>
  </div>
</div>