<div class="provider-summary">
  <div class="header">
    <div class="header-left">
      <%= check_box_tag :"provider-selector-#{provider['id']}", provider['id'], { class: "provider-selector", data: { action: "compare#addProvider" } }%>
      <h2><%= provider['short_name'] %></h2>
    </div>
    <div class="header-right">
      <div class="provider-name"><%= provider['name'] %></div>
      <div class="provider-web"><%= provider['web'] %></div>
    </div>
  </div>
  <div class="provider-cards">
    <% provider[:cards].each do |card| %>
      <%= render partial: "/provider/cards/#{card[:name]}", locals: { card: card }  %>
    <% end %>
  </div>
</div>