<div class="provider-summary">
  <div class="header">
    <div class="header-left">
      <h2><%= provider['short_name'] %></h2>
      <div class="provider-name"><%= provider.name %></div>
    </div>
    <div class="header-right">
      <div class="provider-web"><%= provider.web %></div>
      <label><%= check_box_tag :"provider-selector-#{provider.id}", provider.id, { class: "provider-selector", data: { action: "compare#addProvider" } }%> Comparar</label>
      <!--<label for="provider-selector-<%= provider.id %>" class="check">Comparando</label>-->
    </div>
  </div>
  <div class="cards">
    <% provider.cards(@sections).each do |card| %>
      <%= render partial: '/layouts/card', locals: {card: card} %>
    <% end %>
  </div>
</div>