<div class="providers">

<% @s.each do |s|%>
  <div class="section" data-controller="section">
    <div class="section-header">
      <%= button_tag image_tag('/images/arrow.svg'),
      class: 'arrow',
      aria: { expanded: false, controls: "section-#{s['id']}"},
      data: { 
        "section-target": "expand", 
        action: 'click->section#toggleVisibility' 
      }%>
      <h3><%= s['title'] %> / <%= s['year'] %></h3>
      <%= button_tag image_tag('/images/info.svg'),
      class: 'arrow',
      aria: { expanded: false, controls: "info-#{s['id']}"},
      data: { 
        "section-target": "infotrigger", 
        action: 'click->section#toggleInfo' 
      }%>
    </div>
    <div id="section-<%= s['id'] %>" class="section-content ways<%= @providers.length %>" data-section-target="content">
      <% if s['description'].present? && s['description'] != '' %>
        <div class="section-description"><%= s['description'] %></div>
      <% end %>
      <%= render partial: s['name'], locals: { section: s }%>
    </div>
  </div>
  <div id="info-<%= s['id'] %>" class="backdrop info-box"><%= s['info'] %></div>
<% end %>
</div>