<div class="providers" data-controller="compare" data-compare-ctype-value="compare" data-compare-pids-value="<%= @pids %>">
  <div class="header">
    <div class="tag page-tag tag-prestadores"><i class='fas fa-house-medical'></i>Prestadores y servicios</div>
    <h1>Tomá una desición informada</h1>
    <div class="page-description">Seleccioná hasta 3 prestadores para comparar</div>
    <input type="text" name="provider" data-action='keyup->compare#searchProvider' placeholder="Busca por nombre"/>
    <%= turbo_frame_tag "provider_list" %>
  </div>
<% if @providers.length > 0 %>
  <div class="compare-header ways<%= @providers.length %>">
    <div class="filters">
      <%= image_tag('/images/filter.svg') %>
      <input type="text" name="datum" data-action='keyup->compare#filterList' placeholder="Filtra la lista"/>
    </div>
    <% @providers.each do |p|%>
    <div class="provider-header">
    <button class="close" value="<%=p.id%>" data-action="compare#removeFromCompare">X</button>
      <% if p.logo.attached? %>
        <%= image_tag p.logo %>
      <% else %>
        <div class="rectangle-div"></div>
      <% end %>
      <h2><%= p.short_name %></h2>
      <div class="description"><%= p.web %></div>
    </div>
    <% end %>
  </div>
  <% @s.each do |s|%>
  <div class="section" data-controller="section">
    <div class="section-header">
      <div class="header-left">
        <%= button_tag "#{image_tag('/images/arrow.svg')}<h3>#{s['title']}</h3>".html_safe,
        class: 'arrow',
        aria: { expanded: false, controls: "section-#{s['id']}"},
        data: { 
          "section-target": "expand", 
          action: 'click->section#toggleVisibility' 
        }%>
        
          <%= button_tag "<i class='fas fa-circle-info'></i>".html_safe,
          class: 'arrow',
          aria: { expanded: false, controls: "info-#{s['id']}"},
          data: { 
            "section-target": "infotrigger", 
            action: 'click->section#toggleInfo' 
          }%>
      </div>
      <div class="tag tag-calendar"><i class="fas fa-calendar"></i><%= s['year'] %></div>
    </div>
    <!-- Sections -->
    <div id="section-<%= s['id'] %>" class="section-content ways<%= @providers.length %>" data-section-target="content">
      <% if s['description'].present? && s['description'] != '' %>
        <div class="section-description"><%= s['description'] %></div>
      <% end %>
      <!-- Section content -->
      <div class="section-inner-content <%= s["name"]%>">
        <% if ['specialists', 'rrhh'].include? s["name"] %>
        <!-- Section with state filters -->
          <%= select_tag "state", options_for_select( @states ),
          {include_blank: 'Todo el país',
          data: {action: "change->compare#state"}
          } %>
          <%= turbo_frame_tag s["name"] do %>
            <%= render partial: s['name'], locals: { section: s }%>
          <% end %>
        <% else %>
          <%= render partial: s['name'], locals: { section: s }%>
        <% end %>
      </div>
    </div>
    <div class="backdrop" data-section-target="infopanel" data-action='click->section#toggleInfo'>
      <div id="info-<%= s['id'] %>" class="info-box">
        <button class="close" data-action='click->section#toggleInfo:stop'>X</button>
        <div class="info-content"><%= s['info'].present? ? s['info'].html_safe : '' %></div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
</div>