<div class="card <%= card[:name] %>">
<% logger.debug "PRICES MAX #{@prices_max.inspect} "%>
  <div class="card-header">
    <div class="header-top">
      <%= image_tag "/images/#{ card[:icon] }.svg"%>
      <button onclick="document.getElementById('info-<%= card[:sid] %>').style.display = 'flex'" class="info"><%= svg('circle-info.svg')%></button>
    </div>
    <h3><%= card[:title] %></h3>
    <div class="border-bottom"></div>
  </div>
  <div class="card-content">
    <% if card[:description].present? %>
      <div class="card-desc"><%= card[:description] %></div>
    <% end %>
    <%= render partial: "/#{card[:ctype]}/cards/#{card[:name]}", locals: { card: card }  %>
  </div>
</div>