<footer>
  <div class="content">
    <div class="module">
      <div class="inline"><i class="fa-solid fa-share-from-square"></i><h2 id="share">Compartí este proyecto</h2></div>
      <p>Si te fue útil o le puede ser útil a alguien más, tu ayuda en difusión hace una enorme diferencia. ¡Gracias!</p>
      <% share_msg = "Mapa Verde nuclea toda la información de iniciativas de jóvenes que trabajan por el ambiente en Uruguay, conocelas y sumate." %>
      <div class="inline">
        <a class="dropdown-item" href="https://mastodonshare.com/?text=<%= share_msg %>&url=<%= request.base_url %>" target="_blank">
          <i class="fa-brands fa-mastodon"></i>
        </a>
        <a class="dropdown-item" href="https://twitter.com/intent/tweet?text=<%= share_msg %>&amp;url=<%= request.base_url %>&amp;via=Mapa Verde" onclick="if(!document.getElementById('td_social_networks_buttons')){window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;}">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a class="dropdown-item" href="https://www.facebook.com/sharer.php?u=<%= request.base_url %>" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a class="dropdown-item" target="_blank" href="https://api.whatsapp.com/send?text=<%= share_msg %> <%= request.base_url %>">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a class="dropdown-item" href="https://www.linkedin.com/sharing/share-offsite/?url=<%= request.base_url %>" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a class="dropdown-item" href="mailto:someone@example.com?Subject=Mapa Verde: Asitente de apelación&amp;body=<%= share_msg %> <%= request.base_url %>">
          <i class="fa-solid fa-envelope"></i>
        </a>
      </div>
    </div>
    <div class="module">
        <div class="group column">
            <h2>Sobre el proyecto</h2>
            <div id="info-group">
                <p>
                ATS DESC
                </p>
                <a href="/sobre-el-proyecto" id="more-info">Más información ></a>
                <div class="inline">
                    <a class="social-link"  href="https://www.instagram.com/msp" target="_blank">
                      <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a class="social-link" href="https://www.facebook.com/msp" target="_blank">
                      <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a class="social-link" href="https://uy.linkedin.com/company/msp" target="_blank">
                      <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>
            </div>
            <h2>Accesibilidad</h2>
            <div id="info-group">
                <p>
                Este sitio web ha sido creado con estándares de accesibilidad web. Si encuentras algún problema de accesibilidad al utilizar la plataforma, o si tienes sugerencias sobre cómo podemos mejorar la accesibilidad, <a href="/contacto?subject=access">contáctanos</a>. 
                </p>
            </div>
        </div>
        <div id="open-data" class="group">
            <div id="open-title" class="toggle-data" onclick="this.parentNode.classList.toggle('active');">
                <h2>Datos abiertos y software libre </h2>
                <%= image_tag("arrow-down.png", alt:"Imagen cambiar") %>
            </div>
            <div class="toggle-content">
              <p>
                  Los datos utilizados en esta aplicación se encuentran disponibles para su reutilización como
                  datos
                  abiertos y el código del software es libre bajo licencia GPLv3.
              </p>
              <a href="https://catalogodatos.gub.uy/organization/data" class="support-button toggle-content" target="_blank">
                  Datos abiertos en Catálogo Nacional
                  <i class="fa-solid fa-database"></i>
              </a>
              <a href="https://github.com/datauy/ATuServicio" class="support-button toggle-content" target="_blank">
                  Código de la aplicación en GitHub
                  <i class="fa-brands fa-github"></i>
              </a>
            </div>
        </div>
        <div id="ask-frame">
            <a href="http://soporte.data.org.uy/es/customer/create-ticket/" class="btn btn-transparent" target="_blank">
                <%= image_tag("support.png", alt:"Imagen cambiar") %>
                ¿Problemas, dudas?
            </a>
        </div>
        <a class="support-button" href='mailto:soporte@data.org.uy' >Escribí a Soporte</a>
    </div>
    <div class="module" class="group column center">
      <div id="we-are-header" class="toggle-data" onclick="this.parentNode.classList.toggle('active');">
        <h2>¿Quiénes somos?</h2>  
      </div>
      <h3>Presenta:</h3>
      <div class="logos-frame">
        <a href="https://msp.gub.uy" target="_blank">
          <%= image_tag("msp.png", alt:"Ministerio de Salud de Uruguay", class:"msp-logo") %>
        </a>
      </div>
      
      <h3>Colaboran:</h3>
      <div class="logos-frame">
        <a href="https://data.org.uy" target="_blank">
          <%= image_tag("data.png", alt:"DATA Uruguay", class: "data-logo") %>
        </a>
      </div>        
    </div>
  </div>
  <div class="carousel slider-container">
    <h2>Conocé otros proyectos de DATA:</h2>
    <div id="data-projects" class="slides"></div>
    <div id="slider-controls"></div>
  </div>
  <script>
    var slide_started = false;
      function getJSON(url, callback) {
          var xhr = new XMLHttpRequest();
          xhr.open('GET', url, true);
          xhr.responseType = 'json';
          xhr.onload = function() {
            var status = xhr.status;
            if (status === 200) {
              callback(null, xhr.response);
            } else {
              callback(status, xhr.response);
            }
          };
          xhr.send();
      };
      
      function fadeIn(el) { 
        
        //setInterval(show(el), 200);
      } 
      var intervalID = 0;    
      function show(body) {  
          opacity = Number(window.getComputedStyle(body).getPropertyValue("opacity")); 
          if (opacity < 1) { 
              opacity = opacity + 0.1; 
              body.style.opacity = opacity 
          } else { 
              clearInterval(intervalID);
          } 
      } 
      function goToSlide(clicked) {
        var pos = clicked.target.xdata;
        current_slides = document.querySelector(".slide").length;
        for (var i = pos; i < current_slides; i++) {
          document.querySelector(".slides").append( document.getElementById("slide-"+i) );
        }
        for (var i = 0; i < pos; i++) {
          document.querySelector(".slides").append( document.getElementById("slide-"+i) );
        }
        document.querySelector("#slider-controls a").classList.remove("active");
        clicked.target.className = "active";
      }
      getJSON("https://admin.data.org.uy/api/project-footer?project_id=2", function(err, data){
        var container = document.getElementById("data-projects");
        var controls = document.getElementById("slider-controls");
        i=0;
        data.forEach(function(project){
          var a = document.createElement("a");
          a.target = "_blank";
          a.id = "slide-"+i;
          a.href = project.link;
          a.alt = project.name;
          a.className = "slide";
          var element = document.createElement("img");
          element.setAttribute("src", project.icon);
          a.appendChild(element);
          container.appendChild(a);
          var b = document.createElement("a");
          b.xdata = i;
          b.id = "control-slide-"+i;
          b.onclick=goToSlide;
          controls.appendChild(b);
          if ( i == 0 ) {
            b.className = "active";
          }
          i++;
        });
        change_slide(true);
      });
      //Pause on hover
      document.querySelector(".slider-container").addEventListener('mouseover', function(){
        //slide_started = true;
        document.querySelector(".slides").classList.add("hovered");
      });
      document.querySelector(".slider-container").addEventListener('mouseout', function(){
        //slide_started = false;
        document.querySelector(".slides").classList.remove("hovered");
      });
      function change_slide() {
        if (!slide_started) {
          let not_hovered = document.querySelectorAll(".slides:not(.hovered) > a")[0];
          if (not_hovered != null ) {
            slide_started = true;
            fadeOut(not_hovered);
          }
          else {
            slide_started = false;
            sleep(500).then(() => {
              change_slide();
            });
          }
        }
      }
      function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
      }
      function fadeOut(el) {
        var fadeTarget = el;
        var fadeEffect = setInterval(function () {
            if (!fadeTarget.style.opacity) {
                fadeTarget.style.opacity = 1;
            }
            if (fadeTarget.style.opacity > 0) {
                fadeTarget.style.opacity -= 0.04;
            } else {
              slide_started = false;
              document.querySelector(".slides").append(el);
              el.style.opacity = 1;
              change_slide();
              clearInterval(fadeEffect);
                  //bottom controls
              var slide = document.querySelector(".slides > a");
              let pagers = document.querySelectorAll("#slider-controls a");
              for (i = 0; i < pagers.length; i++){
                pagers[i].classList.remove("active");
              }
              document.querySelector("#control-"+slide.id).classList.add("active");
            }

        }, 60);
      }
  </script>
  <hr>
  <div id="credits">
      <%= image_tag("Shape.png", alt:"Imagen cambiar") %>
      <%= image_tag("cc.png", alt:"Imagen cambiar") %>
      <div class="group">
          <p>El contenido original de este sitio, está bajo licencia Creative Commons Atribución 4.0
              Internacional. Por otras atribuciones ver sobre el proyecto.</p>
      </div>
  </div>
</footer>