<header>
  <%= link_to image_tag('logo.png'), root_path %>
  <nav>
    <ul>
      <li><%= link_to "Listado de servicios", root_path %></li>
      <li><%= link_to "Sobre el proyecto", root_path %></li>
      <li><%= link_to "Comparar", root_path %></li>
      <li><%= link_to "Denuncias", root_path %></li>
      <li><%= link_to "Afiliaciones y cambios de prestador", root_path %></li>
    </ul>
  </nav>
</header>