<header class='comparative_header'>
  <a class="logo" href="https://www.gub.uy/ministerio-salud-publica/politicas-y-gestion/junta-nacional-de-salud" target="_blank"><img id="logo" alt="MSP-JUNASA" src="/assets/MSP-JUNASA-negativo.svg"></img></a>
  <ul class="nav nav-pills">
    <li role="presentation">
      <a href="/">Inicio</a>
    </li>
    <li role="presentation" <%= 'class=active' if action_name == 'about' %>>
      <a href="/sobre_el_proyecto">
        Sobre el proyecto
      </a>
    </li>
<!--
    <li role="presentation" <%= 'class=active' if controller_name == 'pia' %>>
      <a href="/pias">
        Catálogo Prestaciones
      </a>
    </li>
    <li role="presentation" <%= 'class=active' if controller_name == 'fnr' %>>
      <a href="/fnr">
        Fondo Nacional de Recursos
      </a>
    </li>
    <li role="presentation" <%= 'class=active' if action_name == 'sns' %>>
      <a href="/sistema-nacional-de-salud">
        Sistema Nacional de Salud
      </a>
    </li>
  -->
  <li role="presentation" <%= 'class=active' if action_name == 'denuncias' %>>
    <a href="https://www.gub.uy/tramites/sistema-unico-denuncias-instituciones-salud">
      Denuncias
    </a>
  </li>
    <li role="presentation" <%= 'class=active' if action_name == 'usuarios' %>>
      <a href="/usuarios">
        Afiliaciones y cambios de prestador
      </a>
    </li>
    <% if controller.controller_name == 'compare' %>
      <li>
        <a  href="javascript:void(0);" onclick="javascript:introJs().start();">
          ¿Cómo funciona?
        </a>
      </li>
    <% end %>
  </ul>
</header>

<ol class="breadcrumb">
  <li><a href="/">Listado Prestadores</a></li>
  <li class="active">
    <%= @title %>
  </li>
</ol>
