<!-- Prestador -->
<div class="modal fade" id="estructura_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Estructura</h4>
      </div>
      <div class="modal-body">
        <h3>Contenido a actualizar</h3>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!--Tiempos de espera -->
<div class="modal fade" id="tiempos_espera_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tiempos de espera</h4>
      </div>
      <div class="modal-body">
        <h3>Contenido a actualizar</h3>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- Derechos usuario -->
<div class="modal fade" id="satisfaccion_derechos_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Derechos de usuario</h4>
      </div>
      <div class="modal-body">
        <h3>Contenido a actualizar</h3>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- Precios -->
<div class="modal fade" id="precios_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Precios</h4>
      </div>
      <div class="modal-body">
        <h3>Contenido a actualizar</h3>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- Metas -->
<div class="modal fade" id="metas_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Metas asistenciales</h4>
      </div>
      <div class="modal-body">
        <h3>Contenido a actualizar</h3>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- Cantidad de socios -->
<div class="modal fade" id="affiliates_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Cantidad de socios</h4>
      </div>
      <div class="modal-body">
        <h3>Contenido a actualizar</h3>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- RRHH -->
<div class="modal fade" id="rrhh_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">RRHH</h4>
      </div>
      <div class="modal-body">
        <h3>Contenido a actualizar</h3>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- Solicitud consultas -->
<div class="modal fade" id="solicitud_consultas_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Solicitud consultas</h4>
      </div>
      <div class="modal-body">
        <h3>Contenido a actualizar</h3>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- ASSE tiempos de espera -->
<div class="modal fade" id="asse_tiempos_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tiempos de espera ASSE</h4>
      </div>
      <div class="modal-body">
        <h5><%= asse_waiting_times.html_safe %></h5>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>
