<!-- Prestador -->
<div class="modal fade" id="estructura_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Estructura</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>
          Los datos de estructura y sedes indican la existencia de una (o más en caso de estar indicado) sede o servicio del prestador de salud.
        </p>
        <p><b>Sede primaria:</b> Cantidad de sedes principales del prestador de salud.</p>
        <p><b>Sede secundaria:</b> Cantidad de sedes secundarias del prestador de salud. Las sedes secundarias brindan como mínimo atención ambulatoria o consultorio de las especialidades básicas, cobertura domiciliaria no urgente de Médico General y Pediatra y atención domiciliaria de urgencia de 24 horas de Médico General.</p>
        <p><b>Policlínica:</b> Cantidad de servicios de policlínica (no internación) del prestador de salud. Brinda atención en consultorio de uno o más especialidades médicas.</p>
        <p><b>Urgencia:</b> Cantidad de puertas de urgencia en cualquiera de las sedes o servicios del prestador de salud.</p>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!--Tiempos de espera -->
<div class="modal fade" id="tiempos_espera_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tiempos de espera</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>Las gráficas reflejan los distintos tiempos de espera promedio. A mayor cantidad de íconos coloreados, mayor tiempo de espera. El mínimo (ningún ícono coloreado) equivale a cero días (menos de 24hs.), mientras que todos los íconos coloreados equivalen al tiempo de espera mayor entre todos los prestadores.</p>
        <p>El tiempo de espera es la diferencia entre la fecha de solicitud de la cita y la fecha de la cita médica otorgada, para el primer médico disponible dentro de la especialidad considerada.</p>
        <h3>En el caso de ASSE</h3>
        <p>ASSE desarrolló en el año 2012 el Sistema de Gestión Consultas (SGC) (Sistema web), que se encuentra en proceso de expansión en todo el país, tanto en el primer, como segundo y tercer nivel de atención.</p>
        <p>Actualmente se encuentra implantado en 267 Unidades Asistenciales -46 unidades más que en el año 2015-, de las cuales 217 son Centros de Salud o Policlínicas y 50 son Hospitales o Centros Auxiliares.</p>
        <p>Está prevista que continúe la implantación del sistema a lo largo de los próximos años. En función de esta implantación progresiva, los datos de tiempo de espera que surgen actualmente del SGC no son representativos de toda la institución, ni de sus diferentes niveles de complejidad.</p>
          <p>Ver información complementaria en: <a href="http://www.asse.com.uy/contenido/Movilidad-Regulada-8431" target="_blank">http://www.asse.com.uy/contenido/Movilidad-Regulada-8431</a></p>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- Derechos usuario -->
<div class="modal fade" id="satisfaccion_derechos_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Derechos de usuario</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>Los indicadores que se definen a continuación surgen de las Encuestas de Satisfacción de Usuarios realizadas en los años 2010 y 2014 sobre Satisfacción con los Servicios del Primer Nivel de Atención y 2012 sobre Satisfacción con Internación Hospitalaria. Las encuestas abarcaron a afiliados de todas las Instituciones que conforman el Seguro Nacional de Salud.</p>
        <p>Las barras reflejan el porcentaje de cada uno de los indicadores sobre satisfacción y derechos, siendo el 100% el total de los usuarios universo del indicador.</p>
        <p>Estos indicadores proporcionan información sobre la "calidad percibida", por lo tanto, no constituye una medida "objetiva" de desempeño, ya que se formula desde la subjetividad de las personas que contestaron la encuesta, es decir, se basa en sus propias experiencias, necesidades, expectativas, etc.</p>
        <p><b>Satisfacción:</b> Promedio de las opiniones de los afiliados encuestados sobre su satisfacción con servicios del primer nivel de atención.</p>
        <p><b>Disponibilidad de agenda:</b> Porcentaje de usuarios que responden "Muy Buena" y "Buena" a la siguiente pregunta: Cuando Ud. pide hora en IS para consultar médico (personalmente, por teléfono o por Internet) ¿Cómo diría que es la disponibilidad de horarios para ver al médico/especialista que quiere consultar?.</p>
        <p><b>Facilidad para trámites:</b> Porcentaje de usuarios que responden "Muy Fácil" y "Fácil" a la siguiente pregunta: Los trámites y gestiones que debe realizar en (Institución) para consultar médico de medicina general o especialista, ¿le resultan fáciles o difíciles?</p>
        <p><b>Disponibilidad de medicamentos:</b> Porcentaje de usuarios que responden "Siempre" y "Casi siempre" a la siguiente pregunta: Cuando concurre a la farmacia de la Institución donde se atiende (SI TIENE) ¿siempre están disponibles los medicamentos o alguna vez se fue sin conseguirlos?</p>
        <p><b>Información sobre derechos:</b> Porcentaje de usuarios que responden "Sí" a la siguiente pregunta: En los últimos doce meses, ¿ha recibido por parte de (Institución) alguna información respecto a sus derechos como usuario?.</p>
        <p><b>Recepción de quejas:</b> Porcentaje de usuarios que responden "Sí" a la siguiente pregunta: Si hoy tuviese una queja o sugerencia para hacerle a (Institución) ¿sabe qué tiene que hacer, a dónde se debe dirigir?</p>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- Precios -->
<div class="modal fade" id="precios_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Precios</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>La gráfica refleja los precios promedio agrupados. A mayor cantidad de íconos coloreados, mayor precio. El mínimo (ningún ícono coloreado) equivale a precio cero, mientras todos los íconos coloreados equivalen a los precios sumados del prestador con las cifras más elevadas.</p>
        <p>Los precios utilizados son los valores máximos de tickets y órdenes que las instituciones están autorizadas a cobrar a sus afiliados a partir de enero de 2017. Cuando se realiza la comparación entre instituciones, además de los tickets y órdenes para afiliados FONASA, pueden observarse los valores para los afiliados NO FONASA. </p>
        <p><b>Medicamentos:</b> Promedio de los precios FONASA de Ticket de medicamentos general y Ticket de medicamentos topeados antihipertensivos (valsartán, amlodipina, hidroclorotiazida, enalapril).</p>
        <p><b>Consultas:</b> Promedio de los precios FONASA de Consulta no urgente consultorio - medicina general, Consulta no urgente consultorio - pediatría, Consulta no urgente consultorio - gineco-obstetricia (control de embarazo), Consulta no urgente consultorio - ginecología, Consulta no urgente consultorio - otras especialidades, Consulta no urgencia domicilio, Consulta odontológica y Consulta médico de referencia.</p>
        <p><b>Consultas urgencia:</b> Promedio de los precios FONASA de Consulta urgencia centralizada y Consulta urgencia domicilio.</p>
        <p><b>Estudios:</b> Promedio de los precios FONASA de Endoscopía digestiva, Endoscopia esofagogastroduodenal, Ecografía simple, Ecodoppler miembros (inferiores / superiores) arterial / venoso, Rx abdomen / aparato urinario simple, Rx tórax, Rx colorectal, Resonancia nuclear magnética una región, Tomografía axial computarizada una región y Laboratorio, rutina básica.</p>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- Metas -->
<div class="modal fade" id="metas_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Indicadores asistenciales</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>Las barras reflejan la proporción de los usuarios de cada institución que están cubiertos en cada indicador. </p>
        <p><b>Captación RN:</b> El indicador refiere al porcentaje de niños nacidos vivos, afiliados a la institución, que presentan su primer control médico en los primeros 10 días de vida.</p>
        <p><b>Porcentaje de niños de un año con control de desarrollo en el 4to mes de vida:</b> El indicador refiere al porcentaje de niños de un año que cuentan con control de desarrollo en el 4to mes de vida.</p>
        <p><b>Porcentaje de embarazadas con 5 o más controles obstétricos al momento del parto:</b> El indicador refiere al porcentaje de mujeres afiliadas que presentan un parto/cesárea en el trimestre y cuentan con 5 o más controles obstétricos realizados al momento del parto.</p>
        <p><b>Porcentaje de embarazadas con control de HIV y VDRL en el 1er y 3er trimestre:</b> El indicador refiere al porcentaje de mujeres afiliadas que presentan un parto/cesárea en el trimestre y cuentan con análisis paraclínico de VDRL y HIV en el 1er y 3er trimestre de embarazo.</p>
        <p><b>Porcentaje de afiliados entre 45 y 64 años controlados según pauta:</b> Para este indicador se considera a los afiliados entre 45 y 64 años controlados con su médico de referencia según pauta sobre el total de afiliados de la institución de dicho grupo etario.
</p>
        <p><b>Tasa de cesáreas:</b> La tasa de cesáreas es el porcentaje de partos terminados por vía cesárea en relación al total de partos.</p>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- Cantidad de socios -->
<div class="modal fade" id="affiliates_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Cantidad de usuarios</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>Número total de afiliados o usuarios a octubre de 2016 y porcentaje que representa en el total del sistema.</p>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- RRHH -->
<div class="modal fade" id="rrhh_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">RRHH</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>Las gráficas reflejan la cantidad de personal disponible cada 10.000 usuarios. A mayor cantidad de íconos coloreados, mayor cantidad de personal cada 10.000 usuarios. El mínimo (ningún ícono coloreado) equivale a cero, mientras que todos los íconos coloreados equivalen al número mayor el prestador que suma más personal disponible cada 10.000 usuarios.</p>
        <p><b>Médico general:</b> Cargos de médicos generales en policlínica cada 10.000 usuarios mayores de 14 años.</p>
        <p><b>Médicos de familia:</b> Cargos de médicos de familia en policlínica cada 10.000 usuarios.</p>
        <p><b>Pediatras:</b> Cargos de médicos pediatras en policlínica cada 10.000 usuarios menores de 15 años.</p>
        <p><b>Ginecólogos:</b> Cargos de médicos ginecólogos en policlínica cada 10.000 usuarias mayores de 14 años.</p>
        <p><b>Aux. de enfermería:</b> Cargos de auxiliares de enfermería en policlínica cada 10.000 usuarios.</p>
        <p><b>Lic. en Enfermería:</b> Cargos de licenciados de enfermería en policlínica cada 10.000 usuarios.</p>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- Solicitud consultas -->
<div class="modal fade" id="solicitud_consultas_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Solicitud consultas</h4>
      </div>
      <div class="modal-body">
        <h3>Sobre estos datos</h3>
        <p>En el contexto de la Ordenanza de Agenda de Consulta Externa se establece en forma obligatoria la existencia de dos vías de asignación de citas: presencial y telefónica, las cuales deben estar disponibles para el usuario a la hora de realizar una solicitud de consulta. Este indicador da cuenta de la existencia o no de las dos vías obligatorias de asignación de citas, así como también de otras vías no obligatorias como son vía correo electrónico o página web.</p>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>

<!-- ASSE tiempos de espera -->
<div class="modal fade" id="asse_tiempos_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tiempos de espera ASSE</h4>
      </div>
      <div class="modal-body">
        <h5><%= asse_waiting_times.html_safe %></h5>
      </div>
      <div class="modal-footer">
        <%= render 'layouts/modals_meta' %>
      </div>
    </div>
  </div>
</div>
