<!DOCTYPE html>
<html>
<head>
  <title>A tu Servicio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- for best results of ngCloak -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <%= content_tag :div, msg, :class => "flash_#{name}" %>
  <% end %>
<% end %>

<%= yield %>

<div id="footer" class="col-md-12">
  <div class="row footer-info">
    <div class="col-md-4">
      <h4>Acerca de DATA</h4>
      <p>
        Somos una organización de la sociedad civil que trabaja
        creando herramientas sociales para promover la participación
        y el debate público a través de la transparencia,
        datos abiertos y acceso a la información.
      </p>
      <p><a href="http://datauy.org">www.datauy.org</a></p>
    </div>
    <div class="col-md-4">
      <h4>Acerca de MSP</h4>
      <p>
        La Dirección General del Sistema Nacional Integrado de Salud
        promueve la participación social con enfoque de derechos,
        brindando herramientas para la toma de decisiones a usuarios
        y prestadores de salud.
      </p>
      <p><a href="http://www.msp.gub.uy">www.msp.gub.uy</a></p>
    </div>
    <div class="col-md-4 datos-abiertos">
      <h4>Datos abiertos</h4>
      <p>
        El estado recoge y produce datos para cumplir con su función.
        Su publicación en formatos abiertos permite que sean reutilizados
        por el gobierno, sociedad civil, organizaciones, empresas o
        ciudadanos en general.
      </p>
       <p><a href="https://catalogodatos.gub.uy/organization/ministerio-de-salud-publica">www.catalogodatos.gub.uy</a></p>
    </div>
  </div>
  <div class="row footer-pad">
    <ul class="menu">
      <li>
        <a href="http://www.avinaamericas.org" title="Avina Americas">
          <%= image_tag("logoavina.png", alt: "Avina Americas") %>
        </a>
      </li>
      <li>
        <a href="http://www.idatosabiertos.org" title="ILDA">
          <%= image_tag("logoilda.png", alt: "ILDA") %>
        </a>
      </li>
    </ul>
  </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-34702401-9', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
